@import "includes/variables";
@import "includes/animations";

// Pseudoelements
::-moz-selection,
::selection {
	background-color: #0564d7;
	color: #fff;
	text-shadow: none;
}

:focus {
	outline: 0 !important;
}

*,
:before,
:after {
	box-sizing: border-box;
}

body {
	background: url(%%body-bg%%) center ($header-height/2) no-repeat #1b2838;
	min-width: 960px;
	overflow-x: hidden;
	padding-top: $header-height; // This determines the height of the header.
	position: relative;
	z-index: 3;

	&:before {
		@include header();

		display: block;
		height: $header-height;
		min-width: 960px;
		top: 0;
	}
}

body > .content {
	margin: 20px 352px 64px 16px;
	padding: 0 !important;

	@if $banner-height != null {
		margin-top: $banner-height + (20px * 2);
	} @else {
		margin-top: 20px;
	}
}

hr,
.md hr {
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin: 12px 0;
}

.side:before,
.side:after,
body:before,
body:after {
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
}

a,
.md a {
	color: $anchor-color;
	text-decoration: none;

	&:hover {
		color: $anchor-hover-color;
	}
}

input[type=text],
input[type=search],
input[type=password],
input[type=url],
textarea {
	background: rgba(0, 0, 0, 0.4)!important;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.6)!important;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.13)!important;
	color: #fff;
	height: 29px;
	outline: none;
	padding: 4px 8px;

	&:hover,
	&:focus {
		border: 1px solid #4c9acc!important;
	}

	&::placeholder {
		color: #0e1c25;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}

	&::-moz-placeholder {
		color: #0e1c25;
		font-style: italic;
		opacity: 1;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}

	&::-ms-input-placeholder {
		color: #0e1c25;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}

	&::-webkit-input-placeholder {
		color: #0e1c25;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}
}

textarea,
.pretty-form textarea {
	height: auto;
}

.content select {
	background: rgba(103, 193, 245, 0.4) url(%%dropdown-arrow%%) no-repeat right 0;
	border: 0;
	color: #67c1f5;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	outline: none;
	padding: 0 31px 0 15px;
	top: -2px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;

	&:hover {
		background: url(%%dropdown-arrow%%), linear-gradient(-60deg, rgb(103, 193, 245) 0%, rgb(65, 122, 155) 100%);
		background-position: right -31px, 0 0;
		background-repeat: no-repeat;
		color: #fff;
	}

	option {
		background: #417a9b;
		color: #e5e4dc;
		font-size: 13px;
		padding: 5px 12px;

		&:hover {
			background: #212d3d;
		}
	}
}

.content select::-ms-expand { /* for IE 11 */
	display: none;
}

.content button {
	background: rgba(0,0,0,0.5);
	border-radius: 2px;
	border: none;
	color: #67c1f5;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 6px 15px;
	text-decoration: none;
	text-transform: capitalize;

	&:hover {
		background: rgba(102,192,244,0.4);
		color: #fff;
	}

	&:active {
		background: darken(rgba(102,192,244,0.4),10%);
		color: darken(#fff,10%);
	}
}

.toggle .error {
	background: #827251;
	border-radius: 2px;
	color: #e1c48a;
	font-size: 13px;
	height: 24px;
	margin: 0;
	padding: 6px 8px;
	position: relative;
	text-transform: uppercase;
}

.approval-checkmark {
	background: url($spritesheet) 0 -46px;
	height: 0;
	margin-bottom: -6px;
	padding: 0 23px 23px 0;
}

.linefield,
.roundfield {
	background: rgba(84,133,183,0.2);
	border-radius: 3px;
	border: none;
	color: #dae3ea;
	padding: 16px;
	width: auto;

	.title {
		@include sidebarh3(null, null);
		display: block;
		margin-bottom: 12px;
		padding: 0;
		text-transform: capitalize;
	}

	.title + .gray {
		font-size: 12px;
	}

	.little {
		font-size: 12px;
	}

	.gray {
		color: #dae3ea;
	}

	textarea {
		min-height: 80px;
	}

	span+span {
		margin-left: 0;
	}
}

.linefield .linefield-content,
.roundfield .roundfield-content {
	padding: 0;
}

.linefield.mobile {
	background: rgba(84,133,183,0.2);
	border-radius: 3px;
	border: none;
	color: #dae3ea;
	padding: 16px;
	width: auto;
}


.commentarea .menuarea .spacer .dropdown,
.search-page .content .dropdown,
.content > .menuarea .dropdown {
	background: rgba(103, 193, 245, 0.4) url(%%dropdown-arrow%%) no-repeat right 0;
	border: 0;
	color: #67c1f5;
	display: inline-block;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	outline: none;
	padding: 0 31px 0 15px;
	top: -2px;

	&:hover {
		background: url(%%dropdown-arrow%%), linear-gradient(-60deg, rgb(103, 193, 245) 0%, rgb(65, 122, 155) 100%);
		background-position: right -31px, 0 0;
		background-repeat: no-repeat;
		color: #fff;

		.selected {
			color: #fff;
		}
	}

	.selected {
		background: none;
		color: #67c1f5;
		font-size: 12px;
		font-weight: normal;
		padding-right: 0;
		text-decoration: none;
	}
}

.commentarea .menuarea .spacer .drop-choices,
.search-page .content .drop-choices,
.content > .menuarea .drop-choices {
	background: rgb(65, 122, 155);
	border: 0;
	box-shadow: 0 0 12px #000000;
	margin-top: -1px;
	min-width: 120px;

	a {
		color: rgb(229, 228, 220);
		font-size: 13px;
		padding: 5px 12px;

		&:hover {
			background-color: #212d3d;
			color: #fff;
			text-decoration: none;
		}
	}
}

.content > .menuarea {
	background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
	border: none;
	color: #8f98a0;
	margin-bottom: 2px;
	padding: 16px;

	.dropdown-title {
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		text-transform: capitalize;
	}
}

.wiki-page .wikititle,
.search-page .raisedbox h4,
.submit-page .content > h1,
.fancy-settings h1 {
	color: #ffffff!important;
	font-weight: bold;
	margin-bottom: 0;
	padding: 0;
	text-transform: uppercase;
}

.wiki-page {
	.wiki-page-content {
		background: #324b68;
		border-radius: 3px;
		margin: 16px 0 0 0;
		padding: 16px;
		color: #97a7b1;
	}

	.wiki-page-content .wiki>.toc>ul {
		background: #324b68;
		border: 0;
	}

	.wiki-page-content {
		.toc + h1 {
			margin-top: 0;
		}

		.wiki>.toc>ul>li:not(.toc_child) {
			font-weight: bold;
		}

		.md h1,
		.md h2,
		.md h6,
		.md h3 {
			color: #fff;
		}
	}
}

body.comments-page .usertext-edit textarea {
	background: url(%%comment-bg%%) no-repeat center !important;
	transition: background 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	max-width: 100%;

	&:focus {
		background-position: center -55px !important; //55px is the height of the image.
	}
}

body.comments-page .thing .flat-list li.first a {
	background: none;

	&:hover {
		background: #67c1f5;
	    color: #fff;
	    text-decoration: none;
	}
}


ul.report-reasons {
	background: rgba(255, 130, 9, 0.8);
	border-radius: 4px;
	border: 1px solid #ff8209;
	color: #fff;
	margin: 16px;
	padding: 16px;
	width: 100%;
	order: 3;
	font-family: $special-font;

	li {
		opacity: 1 !important;
	}

	li.report-reason-title {
		color: #fff;
		font-weight: normal;
		text-transform: capitalize;
		padding: 0;
		font-size: 18px;
		margin: 0 !important;
	}

	li.report-reason {
		font-size: 14px;
		margin-bottom: 4px;
	}
}


.sitetable .nav-buttons {
	background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
	border-radius: 0;
	border: none;
	margin-bottom: 2px;
	margin: 0;
	padding: 16px;
	text-align: left;

	.nextprev {
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		text-transform: capitalize;

		.next-button a,
		.prev-button a{
			@include outlinebutton();

			background: none;
			font-weight: normal;
			padding: 4px 15px;

			&:hover {
				@include outlinebutton(hover);
			}

			&:active {
				@include outlinebutton(active);
			}
		}
	}
}

.flair-settings.fancy-settings {
	margin-bottom: 0;

	&:after {
		background: rgba(27,27,27,0.36) url(%%info%%) no-repeat 12px center;
		border: 1px solid #ffa500;
		border-bottom: 0;
		border-radius: 4px 4px 0 0;
		color: #ffa500;
		content: "DO NOT set Unique/Special flairs in the flair template section. You must manually assign the CSS Classes to users for these.";
		display: block;
		font-size: 15px;
		line-height: 55px;
		margin: 48px 12px 0 12px;
		min-height: 55px;
		padding-left: 40px;
	}
}

.flair-settings.fancy-settings + .tabmenu {
	margin-top: 0;
	display: block;
}

.flair-settings.fancy-settings + .tabmenu:before {
	background: rgba(27,27,27,0.36), no-repeat 12px center;
	border-radius: 0 0 4px 4px;
	border-top: 0;
	border: 1px solid #ffa500;
	color: #ffffff;
	content: "The css Classes: 'special valve', 'special steammod', 'special steamdeveloper', 'special steamtranslator', 'special submod', 'special discordmod'";
	display: block;
	font-size: 15px;
	line-height: 14px;
	margin: 0 12px 32px 12px;
	min-height: 36px;
	padding-left: 40px;
}

body.search-page #search input[type=text],
.side #search input[type=text] {
	background: #316282 !important;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.3) !important;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.13) !important;
	color: #fff !important;
	height: 29px;

	&:hover,
	&:focus {
		border: 1px solid #4c9acc !important;
		box-shadow: 1px 1px 0 rgba(255, 255, 255, 0) !important;
	}

	&::placeholder {
		color: #0e1c25;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}

	&::-moz-placeholder {
		color: #0e1c25;
		font-style: italic;
		opacity: 1;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}

	&::-ms-input-placeholder {
		color: #0e1c25;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}

	&::-webkit-input-placeholder {
		color: #0e1c25;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	}
}

body.search-page #search .search-submit-button,
.side #search input[type=submit] {
	background: url($spritesheet) -97px -24px !important;
	height: 25px;
	width: 25px;

	&:hover {
		background-position-y: -49px !important;
	}
}

.sidecontentbox a.helplink,
.account-activity-box a,
.side a[href$="surveyhero.com/c/80f982f"],
body.search-page .nextprev a,
#newlink-with-image-upload .file-upload-button {
	@include outlinebutton();

	&:hover {
		@include outlinebutton(hover);
	}

	&:active {
		@include outlinebutton(active);
	}
}

// Import our specific includes
@import "includes/header";
@import "includes/side";
@import "includes/things"; // Things include both main page links, and comments page stuff.
@import "includes/rules";
@import "includes/submit-page";
@import "includes/search-page";
@import "includes/expando";
@import "includes/footer";

// Include the 'special' things.
@import "includes/flairs";
@import "includes/res";
@import "includes/toolbox";

// This import will be adjusted as new events with new styling requirements appear.
//@import "includes/snow";
@import "includes/update-banner";

// Disable certain elements
#header-bottom-right .separator,
#hsts_pixel,
.comment.collapsed>.midcol,
.debuginfo,
.leavemoderator,
.morelink .nub,
.rank-spacer,
.side .md hr,
.side .md-container .md table:nth-of-type(1) thead,
.side .titlebox .tagline .flairselector .flairoptionpane a.author,
.side .titlebox .tagline .flairselector .status:empty,
.side input[type=checkbox]:not(#rem-login-main):not([name=restrict_sr]),
.sidebox.create .morelink a,
.sidebox.create,
.thing .tagline .stickied-tagline,
.titlebox .bottom,
.titlebox .users-online:before,
.titlebox form.toggle.leavecontributor-button,
.titlebox>h1,
.titlelebox .word,
a.author.admin ~ .userattrs,
a.author.moderator ~ .userattrs,
a.author.submitter ~ .userattrs,
body.comments-page .thing.morerecursion .buttons,
body.comments-page .thing.morerecursion .deepthread:after,
body.comments-page .thing.morerecursion .tagline,
body>.content .link .rank,
div.titlebox span.word,
h1.redditname a {
	display: none
}

// A lot of reddit messages have no starting capital, this aims to fix that for consistency.
#header .tabmenu li a,
.action-form .reason-prompt:first-letter,
.action-form li label,
.commentarea .menuarea span.dropdown-title.lightdrop:first-letter,
.content .infobar:first-letter,
.flairselector .error:first-letter,
.flairselector form .flairselection .flairremove a,
.link .entry .tagline:first-letter,
.side #moderation_tools .title h1,
.subscribe-button a.add,
.subscribe-button a.remove,
.unvotable-message:first-letter {
	text-transform: capitalize
}

.submit.mod-override .morelink a:after {
	right: 0;
	top: 50%;
	margin: -8px 12px 0 0;
}

body.listing-page.gold .thing.gilded {
	margin-bottom: 4px!important;
}

p.parent {
	color: #fff;
}


// Colors the name of VALVe employees to match Steam Discussion boards.
// I'd do this in one line if comments used the flair name in the 'thing' class list like links do.. but they do not.
a.author[href$="/FletcherDunn"],
a.author[href$="/smeehrrr"],
a.author[href$="/ErikatValve"],
a.author[href$="/BurtonJ_"],
a.author[href$="/afarnsworth_valve"],
a.author[href$="/martinovalve"],
a.author[href$="/GabeNewellBellevue"],
a.author[href$="/HenryG_Valve"],
a.author[href$="/jacobu_valve"],
a.author[href$="/Drunken_F00l"],
a.author[href$="/Programmer_Joe"],
a.author[href$="/DRiller_Valve"],
a.author[href$="/cboyd_valve"],
a.author[href$="/ido_valve"],
a.author[href$="/vitaliy_valve"],
a.author[href$="/brianlev_valve"],
a.author[href$="/mattwood_valve"],
a.author[href$="/ValveRyan"],
a.author[href$="/j_cliffe"],
a.author[href$="/philipla_valve"] {
	color: #aedd08;
}

// Colors the name of Steam Community Moderators to match Steam Discussion boards.
// I'd do this in one line if comments used the flair name in the 'thing' class list like links do.. but they do not.
a.author[href$="/user/ultio"],
a.author[href$="/user/ianskate"],
a.author[href$="/user/titoshivan"],
a.author[href$="/user/Darth_Wound"],
a.author[href$="/user/Better-Off-Bob"],
a.author[href$="/user/FrazerJC"] {
	color: #df7708
}
