$flair-small-list: "steamlogo", "lambda", "hl2", "blackmesa", "combine", "aperturelogo", "portal2logo", "tf2logo", "csgologo", "dota2logo", "gmodlogo", "skyrimlogo", "left4deadlogo", "portallogo", "borderlands", "frozensynapse", "blackops2", "isaac", "gtav", "dishonored", "fallout", "thedivision", "witcher3";
$flair-year-list: "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13";
$flair-game-list: "1", "5", "10", "25", "50", "100", "250", "500", "1000", "2000", "3000", "4000", "5000";
$flair-special-list: "valve", "steammod", "steammod1", "steamdeveloper", "steamtranslator", "submod", "sourcefilm", "steamdb", "es", "gauge", "pressure";

// Year Badges
year 1
year 2
year 3
year 4
year 5
year 6
year 7
year 8
year 9
year 10
year 11
year 12
year 13

// Game Badges
game 1
game 5
game 10
game 25
game 50
game 100
game 250
game 500
game 1000
game 2000
game 3000
game 4000
game 5000

// Special 
special valve
special steammod
special steamdeveloper
special steamtranslater
special sourcefilm
