.expando {
	margin: 0;
}

.expando-button {
	margin: 0;
	width: 24px;
	height: $expando-height;
	background: rgba(103, 193, 245, 0.4);
	max-width: 24px;
	max-height: $expando-height;
	margin-top: 24px;
	margin-right: 8px;
	border-radius: 2px;
	background-image: url(%%spritesheet%%) !important;
	background-position: -104px -182px !important;

	&:hover {
		background: #67c1f5;
	}

	// Loops for the background positions
	// Generates the appropriate background positioning for the spritesheet
	$offset: -182px;

	@each $expando in $expando-list {
		$i: index($expando-list, $expando)-1;

		&.#{$expando} {
			background-position-y: $offset !important;
		}

		$offset: $offset - $expando-height;
	}
	
	&.selftext.expanded,
	&.video.expanded,
	&.image.expanded,
	&.image.gallery.expanded,
	&.video-muted.expanded {
		background-position: -104px -158px !important;
		margin-bottom: 0;
	}
}

.usertext-body .md .expando-button {
	margin-top: -4px;
	margin-left: 4px;
}