.expando {
	margin: 0;
}

.expando-button {
	background: rgba(103, 193, 245, 0.4) url($spritesheet) -80px -182px !important;
	border-radius: 2px;
	height: $expando-height;
	margin: 24px 8px 0 0;
	max-height: $expando-height;
	max-width: 24px;
	width: 24px;

	&:hover {
		background-color: #67c1f5 !important;
	}

	// Loops for the background positions
	// Generates the appropriate background positioning for the spritesheet
	$offset: -182px;

	@each $expando in $expando-list {
		$i: index($expando-list, $expando)-1;

		&.#{$expando} {
			background-position-y: $offset !important;
		}

		$offset: $offset - $expando-height;
	}

	&.selftext.expanded,
	&.video.expanded,
	&.image.expanded,
	&.image.gallery.expanded,
	&.video-muted.expanded {
		background-position: -80px -158px !important;
		margin-bottom: 0;
	}
}

.usertext-body .md .expando-button {
	margin: -4px 8px 0 4px;
}
