// Reddit default 'flairs' ie: submitter, moderator, administrator
a.author.moderator,
a.author.admin,
a.author.submitter,
.res .res-userHighlight .tagline .author.moderator,
.res .res-userHighlight .tagline .author.admin,
.res .res-userHighlight .tagline .author.submitter {
	padding: 2px 8px !important;
	border-radius: 4px 2px 2px 4px !important;
	padding-left: 0 !important;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);

	&:before {
		padding: 2px 6px;
		margin-right: 6px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		border-radius: 2px 0 0 2px;
	}
}

a.author.submitter,
.res .res-userHighlight .tagline .author.submitter {
	background-color: #5485b7 !important;
	box-shadow: inset 0 0 0 1px #5485b7;
	font-weight: normal !important;

	&:before {
		background-color: #26384f !important;
		content: "OP";
		color: #5485b7;
		box-shadow: inset 0 0 0 1px #212f43;
	}

	&:hover {
		background-color: #789fc6 !important;
		box-shadow: inset 0 0 0 1px #6692bf;

		&:before {
			background-color: #375071 !important;
			box-shadow: inset 0 0 0 1px #293b54;
		}
	}
}

a.author.moderator,
.res .res-userHighlight .tagline .author.moderator {
	background-color: #4c6b22 !important;
	box-shadow: inset 0 0 0 1px #2e4014;
	font-weight: normal !important;

	&:before {
		background-color: #34482c !important;
		content: "Mod";
		color: rgba(174, 221, 23, 0.5);
		box-shadow: inset 0 0 0 1px #2e4014;
	}

	&:hover {
		background-color: #67922e !important;
		box-shadow: inset 0 0 0 1px #3c531a;
		
		&:before {
			background-color: #4b683f !important;
			box-shadow: inset 0 0 0 1px #3c531a
		}
	}
}

a.author.admin,
.res .res-userHighlight .tagline .author.admin {
	background-color: #6b2222 !important;
	box-shadow: inset 0 0 0 1px #c32626;
	font-weight: normal !important;

	&:before {
		background-color: #482c2c !important;
		content: "Admin";
		color: #c32626;
		box-shadow: inset 0 0 0 1px #c32626;		
	}

	&:hover {
		background-color: #922e2e !important;

		&:before {
			background-color: #683f3f;
		}
	}
}

// User Flairs
.link .flair {
	font-size: 0;

	&:hover {
		font-size: 11px;
	}
}

.flair {
	position: absolute;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	margin-top: -2px;
	line-height: $flair-height;
	font-size: 0;
	z-index: 2;

	&:hover {
		font-size: 12px;
		color: #fff;
		background-color: rgba(0,0,0,0.8);
	}

	&:before {
		content: "";
		height: $flair-height;
		display: inline-block;
		position: absolute;
		left: 0;
		background-image:url(%%flairs-v2%%);
		background-position: 0 0;
	}
}

.flair-small {
	padding-left: $flair-small-width;

	&:hover {
		padding: 0 8px 0 ($flair-small-width + 8px);
	}

	&:before {
		width: $flair-small-width;
	}
}

.flair-year {
	padding-left: $flair-year-width;

	&:hover {
		padding: 0 8px 0 ($flair-year-width + 8px);
	}

	&:before {
		width: $flair-year-width;
		background-position-x: -$flair-small-width;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
	}
}

.flair-game {
	padding-left: $flair-game-width;

	&:hover {
		padding: 0 8px 0 ($flair-game-width + 8px);
	}

	&:before {
		width: $flair-game-width;
		background-position-x: -($flair-small-width + $flair-year-width);
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
		border-radius: 2px;
	}
}

.flair-special {
	padding-left: $flair-special-width;
	
	&:hover {
		padding: 0 8px 0 ($flair-special-width + 8px);
	}

	&:before {
		width: $flair-special-width;
		background-position-x: -($flair-small-width + $flair-year-width + $flair-game-width);
		border-radius: 2px;
	}	
}

// Loops for the background positions
// Generates the appropriate background positioning for the spritesheet
@each $flair in $flair-small-list {
	$i: index($flair-small-list, $flair)-1;
	.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

@each $flair in $flair-year-list {
	$i: index($flair-year-list, $flair)-1;
	.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

@each $flair in $flair-game-list {
	$i: index($flair-game-list, $flair)-1;
	.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

@each $flair in $flair-special-list {
	$i: index($flair-special-list, $flair)-1;
	.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

// Steam Level Flairs
.flair-level {
	padding-left: $flair-level-width;
	font-size: 0;

	&:hover {
		font-size: 0 !important;
		color: #fff;
		background-color: transparent;
	}

	&:before {
		content: attr(title);
		height: $flair-height;
		width: $flair-level-width;
		line-height: $flair-level-width;
		text-align: center;
		display: inline-block;
		position: absolute;
		left: 0;
		background-image:url(%%flairs-level%%);
		background-position: 0 0;
		color: #9b9b9b;
		text-shadow: 1px 1px #1a1a1a;
		font-size: 11px;
	}
}

@each $flair in $flair-level-bignumber-list {
	$i: index($flair-level-bignumber-list, $flair)-1;
	.flair-level.flair-#{$flair}:before {
		background-position-x: $flair-level-width * -$i;
	}
}

@each $flair in $flair-level-smallnumber-list {
	$i: index($flair-level-smallnumber-list, $flair)-1;
	.flair-level.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

.flair-small ~ .score,
.flair-small ~ .score-hidden,
.flair-small ~ a[href$="/gilded"] {
	margin-left: ($flair-small-width + 4px);
}

.flair-year ~ .score,
.flair-year ~ .score-hidden,
.flair-year ~ a[href$="/gilded"] {
	margin-left: ($flair-year-width + 4px);
}

.flair-game ~ .score,
.flair-game ~ .score-hidden,
.flair-game ~ a[href$="/gilded"] {
	margin-left: ($flair-game-width + 4px);
}

.flair-special ~ .score,
.flair-special ~ .score-hidden,
.flair-special ~ a[href$="/gilded"] {
	margin-left: ($flair-special-width + 4px);
}

.flair-level ~ .score,
.flair-level ~ .score-hidden,
.flair-level ~ a[href$="/gilded"] {
	margin-left: ($flair-level-width + 4px);
}

.thing.collapsed .flair ~ .score,
.thing.collapsed .flair ~ .score-hidden,
.thing.collapsed .flair ~ a[href$="/gilded"] {
	margin-left: 0;
}

// Link Flairs
.linkflairlabel,
.flairselector .linkflairlabel {
	background: rgba(0,0,0,0.2);
	color: #FFF;
	padding: 2px 8px;
	margin: 0;
	max-width: none;
	border: 1px solid rgba(255,255,255,0.3);
	float: right;
	font-weight: normal;
}

.flairselector .linkflairlabel {
	float: none;
	height: 24px;
	line-height: 18px;
}

.link.linkflair-resolved .linkflairlabel,
.link .flairselector .linkflair-resolved .linkflairlabel {
	border-color: #9cc808;
	background: #4c6b22;
	color: #9cc808;
}

.link.linkflair-psa .linkflairlabel,
.link .flairselector .linkflair-psa .linkflairlabel {
	border-color: #ce77e4;
	background: #5c226b;
	color: #e788ff;
}

.link.linkflair-question .linkflairlabel,
.link .flairselector .linkflair-question .linkflairlabel {
	border-color: #656565;
	background: #333333;
	color: #b3b3b3;
}

.link.linkflair-suggestion .linkflairlabel,
.link .flairselector .linkflair-suggestion .linkflairlabel {
	border-color: #7d8198;
	background: #282a35;
	color: #abaec1;
}

.link.linkflair-news .linkflairlabel,
.link .flairselector .linkflair-news .linkflairlabel {
	border-color: #fff790;
	background: #e4d304;
	color: #333;
}

.link.linkflair-discussion .linkflairlabel,
.link .flairselector .linkflair-discussion .linkflairlabel {
	border-color: #6788ff;
	background: #0430d0;
	color: #b6c5ff;
}

.link.linkflair-error .linkflairlabel,
.link .flairselector .linkflair-error .linkflairlabel {
	border-color: #ff8209;
	background: #d06804;
	color: #fff;
}

.link.linkflair-fluff .linkflairlabel,
.link .flairselector .linkflair-fluff .linkflairlabel {
	border-color: #fbf6e6;
	background: #d0c7a6;
	color: #333;
}

.link.linkflair-meta .linkflairlabel,
.link .flairselector .linkflair-meta .linkflairlabel {
	border-color: #b3dc24;
	background: #7c9a14;
	color: #e9ff9b;
}

.link.linkflair-ugc .linkflairlabel,
.link .flairselector .linkflair-ugc .linkflairlabel {
	border-color: #9a6810;
	background: #654101;
	color: #f9c468;
}