// Reddit default 'flairs' ie: submitter, moderator, administrator
a.author.moderator,
a.author.admin,
a.author.submitter,
.res .res-userHighlight .tagline .author.moderator,
.res .res-userHighlight .tagline .author.admin,
.res .res-userHighlight .tagline .author.submitter {
	border-radius: 4px 2px 2px 4px !important;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
	padding-left: 0 !important;
	padding: 2px 8px 2px 0 !important;
	color: #fff;

	&:before {
		border-radius: 2px 0 0 2px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		margin-right: 6px;
		padding: 2px 6px;
	}
}

a.author.submitter,
.res .res-userHighlight .tagline .author.submitter {
	background: #5485b7 !important;
	box-shadow: inset 0 0 0 1px #5485b7;
	font-weight: normal !important;
	color: #fff;

	&:before {
		background: #26384f !important;
		box-shadow: inset 0 0 0 1px #212f43;
		color: #5485b7;
		content: "OP";
	}

	&:hover {
		background: #789fc6 !important;
		box-shadow: inset 0 0 0 1px #6692bf;
		text-transform: none;

		&:before {
			background: #375071 !important;
			box-shadow: inset 0 0 0 1px #293b54;
		}
	}
}

a.author.moderator,
.res .res-userHighlight .tagline .author.moderator {
	background: #4c6b22 !important;
	box-shadow: inset 0 0 0 1px #2e4014;
	font-weight: normal !important;

	&:before {
		background: #34482c !important;
		box-shadow: inset 0 0 0 1px #2e4014;
		color: rgba(174, 221, 23, 0.5);
		content: "Mod";
	}

	&:hover {
		background: #67922e !important;
		box-shadow: inset 0 0 0 1px #3c531a;
		text-transform: none;

		&:before {
			background: #4b683f !important;
			box-shadow: inset 0 0 0 1px #3c531a
		}
	}
}

a.author.admin,
.res .res-userHighlight .tagline .author.admin {
	background: #6b2222 !important;
	box-shadow: inset 0 0 0 1px #c32626;
	font-weight: normal !important;

	&:before {
		background: #482c2c !important;
		box-shadow: inset 0 0 0 1px #c32626;
		color: #c32626;
		content: "Admin";
	}

	&:hover {
		background: #922e2e !important;
		text-transform: none;

		&:before {
			background-color: #683f3f;
		}
	}
}

// User Flairs
.link .flair {
	font-size: 0;

	&:hover {
		font-size: 11px;
	}
}

.flair {
	background: none;
	border: none;
	font-size: 0;
	line-height: $flair-height;
	margin: -2px 0 0 0;
	padding: 0;
	position: absolute;
	z-index: 2;

	&:hover {
		background: rgba(0,0,0,0.8);
		color: #fff;
		font-size: 12px;
	}

	&:before {
		background: url($flair-spritesheet) 0 0;
		content: "";
		display: inline-block;
		height: $flair-height;
		left: 0;
		position: absolute;
	}
}

.flair-small {
	padding-left: $flair-small-width;

	&:hover {
		padding: 0 8px 0 ($flair-small-width + 8px);
	}

	&:before {
		width: $flair-small-width;
	}
}

.flair-year {
	padding-left: $flair-year-width;

	&:hover {
		padding: 0 8px 0 ($flair-year-width + 8px);
	}

	&:before {
		background-position-x: -$flair-small-width;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
		width: $flair-year-width;
	}
}

.flair-game {
	padding-left: $flair-game-width;

	&:hover {
		padding: 0 8px 0 ($flair-game-width + 8px);
	}

	&:before {
		background-position-x: -($flair-small-width + $flair-year-width);
		border-radius: 2px;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
		width: $flair-game-width;
	}
}

.flair-special {
	padding-left: $flair-special-width;

	&:hover {
		padding: 0 8px 0 ($flair-special-width + 8px);
	}

	&:before {
		background-position-x: -($flair-small-width + $flair-year-width + $flair-game-width);
		border-radius: 2px;
		width: $flair-special-width;
	}
}

// Loops for the background positions
// Generates the appropriate background positioning for the spritesheet
@each $flair in $flair-small-list {
	$i: index($flair-small-list, $flair)-1;
	.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

@each $flair in $flair-year-list {
	$i: index($flair-year-list, $flair)-1;
	.flair-year.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

@each $flair in $flair-game-list {
	$i: index($flair-game-list, $flair)-1;
	.flair-game.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

@each $flair in $flair-special-list {
	$i: index($flair-special-list, $flair)-1;
	.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

// Steam Level Flairs
.flair-level {
	font-size: 0;
	padding-left: $flair-level-width;

	&:hover {
		background-color: transparent;
		font-size: 0 !important;
	}

	&:before {
		background: url(%%flairs-level%%) 0 0;
		color: #fff;
		content: attr(title);
		display: inline-block;
		font-size: 9px;
		height: $flair-height;
		left: 0;
		line-height: $flair-level-width;
		position: absolute;
		text-align: center;
		text-shadow: 1px 1px #1a1a1a;
		width: $flair-level-width;
	}
}

@each $flair in $flair-level-bignumber-list {
	$i: index($flair-level-bignumber-list, $flair)-1;
	.flair-level.flair-#{$flair}:before {
		background-position-x: $flair-level-width * -$i;
	}
}

@each $flair in $flair-level-smallnumber-list {
	$i: index($flair-level-smallnumber-list, $flair);
	.flair-level.flair-#{$flair}:before {
		background-position-y: $flair-height * -$i;
	}
}

.flair-small ~ .score,
.flair-small ~ .score-hidden,
.flair-small ~ a[href$="/gilded"],
.flair-small ~ .userattrs:not(:empty) {
	margin-left: ($flair-small-width + 6px);
}

.flair-year ~ .score,
.flair-year ~ .score-hidden,
.flair-year ~ a[href$="/gilded"],
.flair-year ~ .userattrs:not(:empty) {
	margin-left: ($flair-year-width + 6px);
}

.flair-game ~ .score,
.flair-game ~ .score-hidden,
.flair-game ~ a[href$="/gilded"],
.flair-game ~ .userattrs:not(:empty) {
	margin-left: ($flair-game-width + 6px);
}

.flair-special ~ .score,
.flair-special ~ .score-hidden,
.flair-special ~ a[href$="/gilded"],
.flair-special ~ .userattrs:not(:empty) {
	margin-left: ($flair-special-width + 6px);
}

.flair-level ~ .score,
.flair-level ~ .score-hidden,
.flair-level ~ a[href$="/gilded"],
.flair-level ~ .userattrs:not(:empty) {
	margin-left: ($flair-level-width + 6px);
}

.thing.collapsed .flair ~ .score,
.thing.collapsed .flair ~ .score-hidden,
.thing.collapsed .flair ~ a[href$="/gilded"],
.thing.collapsed .flair ~ .userattrs:not(:empty) {
	margin-left: 0;
}

// Link Flairs
.linkflairlabel,
.flairselector .linkflairlabel {
	background: rgba(0,0,0,0.2);
	border: none;
	color: #FFF;
	font-weight: normal;
	margin: 0;
	max-width: none;
	padding: 0 8px;
	line-height: 21px;
	vertical-align: text-bottom;
	margin-right: 6px;
}

.flairselector .linkflairlabel {
	float: none;
}

.link.linkflair-resolved .linkflairlabel,
.link .flairselector .linkflair-resolved .linkflairlabel {
	background: #4c6b22;
	color: #9cc808;
}

.link.linkflair-psa .linkflairlabel,
.link .flairselector .linkflair-psa .linkflairlabel {
	background: #5c226b;
	color: #e788ff;
}

.link.linkflair-question .linkflairlabel,
.link .flairselector .linkflair-question .linkflairlabel {
	background: #333333;
	color: #b3b3b3;
}

.link.linkflair-suggestion .linkflairlabel,
.link .flairselector .linkflair-suggestion .linkflairlabel {
	background: #282a35;
	color: #abaec1;
}

.link.linkflair-news .linkflairlabel,
.link .flairselector .linkflair-news .linkflairlabel {
	background: #e4d304;
	color: #333;
}

.link.linkflair-discussion .linkflairlabel,
.link .flairselector .linkflair-discussion .linkflairlabel {
	background: #0430d0;
	color: #b6c5ff;
}

.link.linkflair-error .linkflairlabel,
.link .flairselector .linkflair-error .linkflairlabel {
	background: #d06804;
	color: #fff;
}

.link.linkflair-fluff .linkflairlabel,
.link .flairselector .linkflair-fluff .linkflairlabel {
	background: #d0c7a6;
	color: #333;
}

.link.linkflair-meta .linkflairlabel,
.link .flairselector .linkflair-meta .linkflairlabel {
	background: #7c9a14;
	color: #e9ff9b;
}

.link.linkflair-ugc .linkflairlabel,
.link .flairselector .linkflair-ugc .linkflairlabel {
	background: #654101;
	color: #f9c468;
}

.link.linkflair-support-thread .linkflairlabel,
.link .flairselector .linkflair-support-thread .linkflairlabel {
	background: #4a8db4;
	color: #fff;
	display: none;
}

.link.linkflair-games-suggestion .linkflairlabel,
.link .flairselector .linkflair-support-thread .linkflairlabel {
	background: #654101;
	color: #f9c468;
	display: none;
}

.link.linkflair-down-notice .linkflairlabel,
.link .flairselector .linkflair-support-thread .linkflairlabel {
	background: #ffa500;
	color: #fff;
	display: none;
}
