#header {
    background-size: auto;
    background: none;
    border: none;
    color: #d9dadd;
    height: 24px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: auto;
}
#sr-header-area {
    background: rgba(23, 26, 33,0.7);
    border: none;
    border: none;
    height: $sr-header-area-height; // (24px + padding)
    line-height: 23px;
    padding: $sr-header-area-padding;
    position: relative;
    transition: all .15s ease;
    z-index: 9005;

    .width-clip {
        right: 300px
    }

    .sr-list {
        margin-right: 48px
    }

    .dropdown.srdrop .selected, #srDropdown {
        margin: 0 8px 0 0;
        padding: 0;
        background-image: none;
        font-size: 0;
        position: relative;
        width: 23px;
        height: 23px;

        &:after {
            position: absolute;
            content: "";
            background-image: url(%%spritesheet%%);
            background-position: 0 0;
            width: 23px;
            height: 23px;            
        }

        &:hover:after {
            background-position: 0 -23px;
        }
    }
}

// Search area
#search {
	background: #316282;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
	color: #fff;
	outline: none;
	height: 29px;
	padding: 0;
	width: 270px;
	position: absolute;
	top: 198px;
	right: 20px;
	z-index: 4;

	&:hover {
		border: 1px solid #4c9acc;
		box-shadow: 1px 1px 0px rgba(255, 255, 255, 0);	
	}

	input[type=text] {
		border: none;
		background-color: transparent;
		width: 100%;
		line-height: 26px;
		padding: 0;
		padding-left: 8px
	}

	input[type=submit] {
		background-image: url(%%spritesheet%%) !important;
		background-position: -97px -24px;
		height: 25px;
		width: 25px;
		margin-left: -26px;

		&:hover {
			background-position: -97px -49px;
		}
	}

	#searchexpando {
		background: $modal-background;
		border: 1px solid #fff;
		border-radius: 3px;
		padding: 8px;
		box-shadow: 0 0 3px #000;
		margin: 2px 0 0 0;

		input {
			margin: 0 6px 0 0;
		}

		label,
		p a {
			margin-bottom: 5px;
			display: block;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			padding: 4px 8px;
			line-height: 25px;
			font-size: 11px;
			color: #407898;

			&:hover {
				color: #fff;
				background: #67c1f5;
			}

			&:active {
				background: rgba(0, 0, 0, 0.06);
			}
		}
	}
}