#header {
	background-size: auto;
	background: none;
	border: none;
	color: #d9dadd;
	height: 24px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: auto;
}
#sr-header-area {
	background: rgba(23, 26, 33,0.7);
	border: none;
	border: none;
	height: $sr-header-area-height; // (24px + padding)
	line-height: 23px;
	padding: $sr-header-area-padding;
	position: relative;
	transition: all .15s ease;
	z-index: 9005;

	.width-clip {
		right: 300px;
	}

	.sr-list {
		margin-right: 48px;
	}

	.dropdown.srdrop .selected, #srDropdown {
		margin: 0 8px 0 0;
		padding: 0;
		background-image: none;
		font-size: 0;
		position: relative;
		width: 23px;
		height: 23px;

		&:after {
			position: absolute;
			content: "";
			background-image: url(%%sprite%%);
			background-position: 0 0;
			width: 23px;
			height: 23px;            
		}

		&:hover:after {
			background-position: 0 -23px;
		}
	}

	.separator {
		color: transparent;
	}

	.drop-choices.srdrop {
		background: linear-gradient(to bottom, #e3eaef 5%, #c7d5e0 95%);
		border: none;
		box-shadow: 0 0 12px #000;
		padding: 8px 5px 8px 5px;

		a.choice {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			color: #000;
			padding: 4px 6px;

			&:hover {
				color: #fff;
				background-color: #212d3d;
				border-bottom: 1px solid #fff;
			}
		}
	}
}

.srdrop .choice.bottom-option{
	border: none;
}

#sr-header-area .dropdown.srdrop .selected,
#sr-header-area .sr-bar a,
#sr-more-link {
	background: none;
	color: #66c0f4;
	transition: all .15s ease;

	&:hover {
		border: none;
		color: #fff;
		text-decoration: none;
	}
}

body:not(.loggedin) #sr-header-area .width-clip {
	right: 340px
}

// The user bar
#header-bottom-right {
	position: absolute;
	top: 0 !important;
	right: 0;
	width: auto;
	height: 24px;
	background-color: transparent;
	font-size: 11px;
	padding: 0;
	z-index: 9006;
	margin: 7px;
	line-height: 23px;

	.separator {
		display: none;
	}
}
body:not(.loggedin) #header-bottom-right {
	max-width: 340px;
}

#header-bottom-right a,
.user a {
	color: #b8b6b4;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.beta-hint a {
	margin-left: -16px;
	top: 5px;
}

.user {
	height: 24px;
	position: relative;
	top: -2px;
	left: 0;
	display: inline-block;

	.userkarma {
		font-weight: 400;
		color: #999;
	}
}

#mail,
#modmail,
#new_modmail,
#openRESPrefs .gearIcon {
	width: 27px;
	height: 24px;
	background-image: url(%%sprite%%)!important;
	background-repeat: no-repeat!important;
	background-color: transparent;
}

#openRESPrefs .gearIcon {
	background-color: #262625;
	background-position: -131px 0;

	&:hover {
		background-color: #575451;
	}
}

#modmail,
#new_modmail {
	background-position: -50px 0;
	top: 0;
}

#mail {
	top: -2px;
	margin-left: 8px;
	overflow: visible;
	background-position: -23px 0;
	margin-right: 4px;
}

#mail.nohavemail {
	background-color: #262625;
	background-position: -23px 0;

	&:hover {
		background-color: #575451;
	}
}

#mail.havemail {
	background-color: #5c7e10;
	opacity: 1;
	background-position: -23px 0;

	&:hover {
		background-color: #7ea64b;
	}
}

#modmail.nohavemail,
#new_modmail.nohavemail {
	background-color: #262625;
	background-position: -50px 0;
	margin-right: 4px;

	&:hover {
		background-color: #575451;
	}
}

#modmail.havemail,
#new_modmail.havemail {
	background-color: #5c7e10;
	margin-right: 4px;
	background-position: -50px 0;

	&:hover {
		background-color: #7ea64b;
	}
}

.message-count {
	background-color: #5c7e10;
	position: relative;
	top: -2px;
	color: #fff!important;
	margin-left: -4px;
	height: 24px;
	font-size: 11px;
	line-height: 24px;
	border-radius: 0;
	margin-right: 4px;
	margin-left: -31px;
	background-image: url(%%messages-icons%%);
	background-repeat: no-repeat;
	background-position: 0 -34px;
	padding-left: 27px;
	text-indent: -4px;
	padding-right: 7px;

	&:hover {
		background-color: #7ea64b;
	}
}
#mail.havemail:before {
	position: fixed;
	padding-left: 34px;
	bottom: 34px;
	z-index: 100;
	background-color: #5c7e10;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
	color: #fff;
	width: 300px;
	height: 34px;
	left: 34px;
	content: "You have new messages";
	text-indent: 0;
	font-size: 14px;
	line-height: 34px;
	transform: translateY(112px);
	transition: background-color .25s ease, box-shadow .25s ease;
	background-image: url(%%messages-icons%%);
	background-position: 0 0;
	background-repeat: no-repeat;
	font-family: "Segoe UI",Segoe,Roboto,"Helvetica Neue",Helvetica,"Calibri Light",Calibri,sans-serif;
	font-weight: bold;
	text-transform: uppercase;

	animation-name: toast;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

#mail.havemail:hover:before {
	background-color: #7ea64b;
	color: #fff;
	animation-play-state: paused
}

#header-bottom-right a.pref-lang,
.loggedin .logout a {
	background-position: -77px 0;
	background-image: url(%%sprite%%);
	background-color: #262625;
	width: 27px;
	height: 24px;
	display: inline-block;
	text-indent: -9999px;
	margin: 0;
	position: relative;
	top: -2px;
	margin-right: 4px;

	&:hover {
		background-color: #575451;
	}
}
.loggedin .logout a {
	margin-right: 0;
	background-position: -104px 0;
}

body:not(.loggedin) #header-bottom-right .flat-list li:only-child a {
	margin: 0 0 0 8px;
}

.side {
	// Search area
	#search {
		background: #316282;
		border-radius: 3px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
		color: #fff;
		outline: none;
		height: 29px;
		padding: 0;
		width: 270px;
		position: absolute;
		top:($header-height - $header-tabs-height)-$header-tabs-margin + 3px;
		right: $header-tabs-margin + 4px;
		z-index: 4;

		&:hover {
			border: 1px solid #4c9acc;
			box-shadow: 1px 1px 0 rgba(255, 255, 255, 0);	
		}

		input[type=text] {
			border: none;
			background-color: transparent;
			width: 100%;
			line-height: 29px;
			padding: 0;
			padding-left: 8px;
		}

		input[type=submit] {
			background-image: url(%%sprite%%) !important;
			background-position: -97px -24px;
			height: 25px;
			width: 25px;
			margin-left: -26px;
			margin-top: -2px;

			&:hover {
				background-position: -97px -49px;
			}
		}

		#searchexpando {
			background: $modal-background;
			border: 1px solid #fff;
			border-radius: 3px;
			padding: 8px;
			box-shadow: 0 0 3px #000;
			margin: 2px 0 0 0;

			input {
				margin: 0 6px 0 0;
			}

			label,
			p a {
				margin-bottom: 5px;
				display: block;
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				padding: 4px 8px;
				line-height: 25px;
				font-size: 11px;
				color: #407898;

				&:hover {
					color: #fff;
					background: #67c1f5;
				}

				&:active {
					background: rgba(0, 0, 0, 0.06);
				}
			}

			input, 
			p,
			p a {
				margin-bottom: 0;
			}
		}
	}
}

.pagename {
	font-size: 0;
}


#header .redditname a {
	position: absolute;
	left: -4px;
	bottom: 67px;
	width: 250px;
	height: 100px;
	display: block;
	font-size: 0;
	background-image: url(%%logo%%);
	background-position: 0 0;

	&:hover {
		background-position: 0 -100px;
	}
}

#header-img,
#header-img.default-header {
	position: absolute;
	width: 74px;
	height: $header-tabs-height;
	margin: 0;
	background-image: url(%%sprite%%);
	background-position: -23px -24px;
	border-right: 1px solid rgba(16, 21, 25, 0.3);

	&:hover {
		background: url(%%sprite%%), linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
		background-position: -23px -59px, 0 0;
	}
}

#header-bottom-left {
	position: absolute;
	min-width: 960px;
	margin: 0 $header-tabs-margin 0 $header-tabs-margin !important;
	bottom: 0;
	top: ($header-height - $header-tabs-height)-$header-tabs-margin;
	height: $header-tabs-height;
	left: 0;
	right: 0;
	background: rgba(62, 126, 167, 0.8);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

#header .tabmenu {
	display: inline-block;
	line-height: $header-tabs-height;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 0 74px;
	height: $header-tabs-height;

	li {
		margin: 0;
	}
}

#header .tabmenu li a {
	background: none !important;
	padding: 0 15px;
	font-weight: 400;
	line-height: 34px;
	height: $header-tabs-height;
	display: inline-block;
	color: #d9dadd;
	font-size: 13px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25 );
	position: relative;
	border: none;
	border-right: 1px solid rgba(16, 21, 25, 0.3);

	&:hover {
		background: linear-gradient(to bottom, #e3eaef 5%, #c7d5e0 95%) !important;
		color: #000;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
	}
}

#header .tabmenu li.selected a {
	background: linear-gradient(to bottom,#f8fafb 5%,#dfe8ef 95%) !important;
	color: #000;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
}

#header .tabmenu li:first-of-type a {
	margin-left: 0
}

#header .tabmenu:not(:hover) li.selected a::before {
	visibility: visible!important
}