// Everything is nested in .res to ensure specifity and to ensure it doesn't affect non-res users.
.res {
	.toggle.res-sr-style-toggle {
		order: 1;
	}

	#RESShortcutsViewport {
		display: inline;
	}

	#RESShortcutsEditContainer {
		display: inline-block;
		max-height: 24px;
		background: none;
		line-height: 14px;
		height: 24px;
		position: relative;
		margin-left: 8px;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	#sr-header-area:hover #RESShortcutsEditContainer {
		opacity: 1;
	}

	#RESShortcutsSort,
	#RESShortcutsRight,
	#RESShortcutsLeft,
	#RESShortcutsAdd,
	#RESShortcutsEditContainer .res-icon {
		line-height: 35px;
		border-radius: 0;
		min-height: 15px;
		color: #66c0f4;
		line-height: 13px;
		width: 15px;
		height: 15px;
		background-color: #36617d;
		background-position: 4px 4px;
		border-radius: 3px;
		background-repeat: no-repeat;
		box-shadow: 0 0 3px #000;
		padding: 0;
		text-align: center;
		top: 3px;
		font-size: 11px;

		&:hover {
			background-color: #67c1f5;
			color: #fff;
		}
	}

	.RESDropdownList {
		background: $modal-background;
		border: 1px solid #fff;
		border-radius: 3px;
		padding: 8px;
		box-shadow: 0 0 3px #000;
		margin: 2px 0 0 0;

		li {
			margin-bottom: 5px;
			display: block;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			padding: 4px 8px;
			line-height: 25px;
			font-size: 11px;
			color: #407898;
			text-transform: capitalize;
			border: 0;
			font-weight: normal;

			&:hover {
				color: #fff;
				background: #67c1f5;
			}

			&:active {
				background: rgba(0, 0, 0, 0.06);
			}
		}

		a:hover {
			color: #fff;
			background: none;
		}
	}

	#openRESPrefs {
		width: 27px;
		height: 24px;
		display: inline-block;
		margin: 0;
		position: relative;
		top: 6px;
		margin-right: 4px;
	}

	#userbarToggle {
		min-height: 15px;
		background: rgba(0, 0, 0, 0.5);
		top: -1px;
		line-height: 35px;
		border: none;
		border-radius: 0;
		min-height: 15px;
		color: #66c0f4;
		top: 10px;
		line-height: 13px;
		border: none;
		border-radius: 0;
		width: 15px;
		height: 15px;
		background-color: #36617d;
		background-position: 4px 4px;
		border-radius: 3px;
		background-repeat: no-repeat;
		box-shadow: 0 0 3px #000;
		padding: 0;
		text-align: center;

		&:hover {
			background-color: #67c1f5;
			color: #fff;
		}
	}

	#userbarToggle.userbarShow {
		top: 9px !important;
		right: 1px
	}

	#header-bottom-right {
		border-radius: 0;
		top: -6px !important
	}

	.beta-hint a {
		margin-left: -23px;
		top: 12px
	}

	#srList {
		background: linear-gradient(to bottom, #e3eaef 5%, #c7d5e0 95%);
		border: none;
		box-shadow: 0 0 12px #000000;
		padding: 8px 5px 8px 5px;
		top: 30px;

		tr {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			color: #000;
			padding: 4px 6px;
			background: none;

			a {
				color: #333;
			}

			&:hover {
				color: #fff;
				background-color: #212d3d;
				border-bottom: 1px solid #fff;

				a {
					color: #fff;
				}
			}
		}
	}

	#srDropdown,
	#srDropdownContainer {
		width: 23px;
		height: 23px
	}

	#sr-header-area #srDropdown {
		margin: 0
	}

	#srDropdownContainer a {
		padding: 0;
		background-image: none;
		font-size: 0 !important;
		position: relative;
		display: inline-block;
		height: 23px;
		width: 23px;
		background-image: url(%%sprite%%);
		background-position: 0 0;
		transition: none;

		&:hover {
			background-position: 0 -23px;
		}
	}

	.RESDashboardToggle,
	.RESshortcutside {
		background-image: none !important;
		border: none;
		color: #66c0f4;
		text-transform: uppercase;
		text-decoration: none;
		padding: 4px 6px;
		margin: 0;
		text-align: center;
		width: 100px;

		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}

	.RES-keyNav-activeElement,
	.RES-keyNav-activeElement .md-container {
		background: transparent !important;
		background-color: transparent !important;
	}

	&.listing-page .RES-keyNav-activeElement {
		background: transparent !important;
		background-color: transparent !important;
		border-right: 3px solid rgba(255, 255, 255, 0.4);
	
		.md-container {
			border: none !important;
		}
	}

	.res-showImages-highlightNSFWButton .thing.over18 .expando-button::before {
		background: none !important;
	}

	.res-expando-box {
		padding: 4px;
		color: #c6d4df;

		.res-title {
			color: #fff;
			font-weight: normal;
			font-family: "Segoe UI", Segoe, Roboto, "Helvetica Neue", Helvetica, "Calibri Light", Calibri, sans-serif;
			font-size: 16px;
			margin: 0;
			margin-bottom: 8px;
			margin-top: 16px;
		}

		.res-gallery-title {
			font-size: 18px;
			margin-bottom: 12px;
			margin-top: 0;
		}

		.res-caption {
			font-size: 13px;
			order: initial;
			margin-bottom: 4px;
		}

		.res-gallery-position {
			color: #fff;
			font-weight: bold
		}
	}

	.res-step {
		height: 32px;
		width: 32px;
		line-height: 32px;
		background: rgba(0, 0, 0, 0.4);
		color: #67c1f5;
		border-radius: 3px;
		padding: 0;
		text-align: center;

		&:hover {
			color: #fff;
			background: rgba(102, 192, 244, 0.4);

			&:after {
				color: #fff;
			}
		}

		&:after {
			color: #9e9c9b;
		}
	}

	.res-gallery .res-gallery-individual-controls {
		margin: 0;
		height: 32px;
	}

	.res-voteEnhancements-highlightScores {
		span.score {
			color: rgba(255, 255, 255, 0.7);
		}

		span.score.likes {
			color: #a4d007;
		}
		
		span.score.dislikes {
			color: #bb5150;
		}
	}

	.res-commentBoxes .comment {
		margin-left: 0 !important;
	}

	.res-floater-visibleAfterScroll > ul > li {
		opacity: 1;
	}

	#NREMail.havemail {
		display: none;
	}

	#NREMail.nohavemail {
		width: 27px;
		height: 24px;
		background-image: url(%%sprite%%)!important;
		background-repeat: no-repeat!important;
		background-color: #262625;
		background-position: -23px 0;
		margin-top: 4px;
		margin-right: 4px;

		&:hover {
			background-color: #575451;
		}
	}

	#NREMailCount {
		line-height: 24px;
		margin-top: 6px;
	}

	.pageNavigator {
		width: 32px;
		height: 32px;
		position: relative;
		background-color: rgba(0,0,0,0.4)!important;
		border-radius: 3px;
		line-height: 25px;
		color: #999896;

		&:hover {
			background-color: rgba(102,192,244,0.4)!important;
			color: #fff;
		}
	}

	.res-commentBoxes .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	
	.res-commentBoxes .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	
	.res-commentBoxes .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	
	.res-commentBoxes .comment .comment .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	
	.res-commentBoxes .comment .comment .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	
	.res-commentBoxes .comment .comment .comment .comment .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}


	.commentarea {
		.RESSubscriptionButton {
			padding: 8px 16px;
			text-align: center;
			background: linear-gradient(to bottom,#799905 5%,#536904 95%);
			background-color: #799905;
			border: none;
			text-transform: capitalize;
			border-radius: 2px;
			color: #D2E885;
			text-shadow: -1px -1px 0 rgba(0,0,0,0.1);

			&:hover {
				background: linear-gradient(to bottom, #a4d007 5%, #6b8705 95%);
			}

			&:active {
				text-shadow: 0 0 2px #CF9300;
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15), inset 0 -2px 6px -3px #FFF, inset 0 2px 6px -3px #999, inset 0 15px 30px -15px #EFB300, inset 0 -15px 30px -15px #FFE320 !important;
			}

			.res-icon {
				display: none;
			}

			&.unsubscribe {
				box-shadow: none !important;
				background: none;
				text-shadow: none;
				color: rgba(255, 255, 255, 0.6);
				border: 1px solid rgba(255, 255, 255, 0.6);

				&:hover {
					border-color: #fff;
				}

				&:active {
					background: rgba(255, 255, 255, 0.2);
				}
			}
		}

		.RESBigEditorPop {
			margin: 0;

			.res-icon {
				display: none;
			}
		}

		#REScommentNavToggle {
			text-transform: capitalize;

			span:first-child {
				margin-right: 4px;
			}
		}

		.commentNavSortType {
			color: $anchor-color;
			border: none;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 11px;

			&:hover {
				color: $anchor-hover-color;
				text-decoration: none;
			}
		}

		.commentNavSortType + .commentNavSortType {
			border: none;
		}
	}

	span.RESCharCounter {
		height: 35px;
		display: inline-block;
		line-height: 35px;
		color: #8f98a0;
	}

	.res-commentPreview-draftStyle .livePreview {
		background: rgba(255,255,255,0.1);
		color: #C6D4DF;
		border: 1px solid rgba(255,255,255,0.2);
		margin-top: 12px;
	}

	.RESDialogSmall.livePreview > h3 {
		font-weight: normal;
		color: #fff;
		background: rgba(255,255,255,0.1);
		border-bottom: 1px solid rgba(255,255,255,0.1);
		padding-bottom: 12px;
		height: auto;
	}

	.markdownEditor {
		a.edit-btn {
			width: 32px;
			height: $markdown-button-height;
			position: relative;
			background-image: url(%%sprite%%);
			background-color: rgba(0,0,0,0.4);
			border-radius: 3px;
			border: 0;
			background-position-x: -194px !important;

			&:hover {
				background-color: rgba(102,192,244,0.4);
				background-position-x: -226px !important;
			}

			// Loops for the background positions
			// Generates the appropriate background positioning for the spritesheet
			$offset: -24px;

			@each $button in $markdown-button-list {
				$i: index($markdown-button-list, $button)-1;

				&.#{$button} {
					background-position-y: $offset !important;
				}

				$offset: $offset - $markdown-button-height;
			}
		}
	}

	.NERPageMarker,
	#NERFail,
	#progressIndicator {
		background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
		padding: 16px;
		border: none;
		margin: 0;
		text-align: left;
		margin-bottom: 2px;
		border-radius: 0;
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		text-transform: capitalize;
	}

	#NERFail {
		background: rgba(204,13,13,0.4) repeat scroll 0 0 transparent;
	}

	#progressIndicator {
		height: auto;
		display: block;

		h2 {
			color: #fff;
			font-size: 16px;
			font-weight: normal;
			text-transform: capitalize;
		}

		p {
			font-size: 13px;
		}
	}

	a.voteWeight {
	    background: none !important;
	}
}


// For a fixed-bar SR header.
body.res.pinHeader-sub,
body.res.pinHeader-subanduser {
	#sr-header-area {
    	top: 0;
   	}

    #header-bottom-right {
	    z-index: 10001;
	    position: fixed;
	}
}

.pinHeader-subanduser #header-bottom-right.res-floating-userbar {
    top: -6px!important;
    opacity: 1;
}