body.search-page {
	.searchpane {
		margin: 0;
		padding: 0;
	}

	.raisedbox h4 {
		font-size: 0;

		&:before {
			font-size: 27px;
			content: "Search Results";
		}
	}

	#search {
		input[type=text] {
			padding: 4px 8px;
		}

		.search-submit-button {
			margin-left: -27px;
			padding: 0;

			span {
				display: none;
			}
		}

		label {
			color: #fff;
		}
	}

	.search-result-group-header {
		background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
		border: none;
		color: #8f98a0;
		margin-bottom: 2px;
		padding: 16px;

		.search-header-label,
		.dropdown-title {
			color: #fff;
			font-size: 16px;
			font-weight: normal;
			text-transform: capitalize;
		}
	}

	.search-result-group {
		margin: 0 0 18px 0;
		max-width: none;
		padding: 0;
	}

	.search-result {
		background: rgba(84, 133, 183, 0.4);
		border-radius: 3px;
		margin: 0 0 18px 0;
		padding: 4px;

		&:hover {
			background: rgba(117,204,255,0.25);
		}

		&.has-thumbnail > .thumbnail {
			flex: 0 0 80px;
			margin-right: 4px;
		}

		:link, 
		:link>mark,
		a {
			color: $anchor-color;

			&:hover {
				color: $anchor-hover-color;
				text-decoration: none;
			}
		}

		:visited, 
		:visited>mark,
		a {
			color: $anchor-color;

			&:hover {
				color: $anchor-hover-color;
				text-decoration: none;
			}
		}

		.search-title {
			color: #fff!important;
			font-family: $special-font;
			font-size: 18px;
			font-weight: normal!important;
			margin: 0 5px 0 0;
			padding: 0;
		}

		mark {
			background: #fcf8e3;
			border-radius: 2px;
			color: #8a6d3b !important;
			font-weight: normal;
			line-height: 21px;
			padding: 0 4px;
		}

		.search-result-meta {
			color: #c6d4df;
		}

		.search-expando-button {
			height: 24px;
			margin-top: 6px;

			&:hover {
				text-decoration: none;

				span {
					background: #67c1f5;
					color: #fff;
					text-decoration: none;
				}
			}

			span {
				background: rgba(103,193,245,0.1);
				border-radius: 2px;
				border: none;
				color: #67c1f5;
				cursor: pointer;
				font-weight: normal;
				height: 24px;
				margin: 0;
				padding: 4px 17px;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					background: #67c1f5;
					color: #fff;
					text-decoration: none;
				}
			}
		}

		.search-result-body {
			color: #c6d4df;
		}

		.search-subscribe-button .add {
			color: #fff !important;
			font-weight: normal;
		}
	}

	.nextprev a {
		background: none;
		font-weight: normal;
	}

	.search-expando.collapsed:before {
		background: none;
	}
}