.thing .midcol,
.midcol-spacer {
	width: 32px !important;
	overflow: visible;
	text-align: left;
	margin: 0 4px 0 0;
}

// Vote Arrows
.arrow {
	background: 0 0 !important;
	width: 32px;
	height: 32px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 3px;	

	&:before {
		content: "";
		position: absolute;
		width: 32px;
		height: 32px;
		background-image: url(%%sprite%%);
		background-position: 0 -94px; // This sets the default to the upvote.
		pointer-events: none;
	}

	&:hover {
		background-color: rgba(102, 192, 244, 0.4) !important;
	}

	&.up,
	&.upmod,
	&.down,
	&.downmod {
		margin: 0;
	}

	&.up {
		&:hover:not(:active):before {
			background-position: -32px -94px
		}

		&:active:before {
			background-position: -32px -94px;
		}
	}

	&.down {
		&:before {
			background-position: 0 -126px;
		}

		&:hover:not(:active):before {
			background-position: -32px -126px;
		}

		&:active:before {
			background-position: -32px -126px;
		}
	}

	&.upmod {
		background-color: #4c6b22 !important;

		&:before {
			background-position: -64px -94px;
		}

		&:hover:before {
			background-position: -64px -94px;
		}

		&:active:before {
			background-position: -64px -94px;
		}
	}

	&.downmod {
		background-color: #4f3129 !important;

		&:before {
			background-position: -64px -126px;
		}

		&:hover:before {
			background-position: -64px -126px;
		}

		&:active:before {
			background-position: -64px -126px;
		}
	}
}

// Disable the downvote button for non-subscribers.
body:not(.subscriber) .arrow.down {
	visibility: hidden;
}

.comment .arrow {
	margin-bottom: 4px;
}

.link {
	background: rgba(84, 133, 183, 0.4);
	border-radius: 3px;
	padding: 4px;
	margin: 0;
	margin-bottom: 2px;

	&:hover {
		background: rgba(117,204,255,0.37);
	}

	.newComments {
		color: #fff;
		font-weight: bold;
	}

	.score {
		color: rgba(255, 255, 255, 0.7);
		line-height: 16px;
		font-size: 11px;
		text-align: center;
		margin: 0 -100%;
	}

	.title {
		font-family: $special-font;
		color: #fff;
		font-weight: 500;
		margin: 0;
		padding: 0;
		font-size: 18px;
		min-height: 24px;
		height: auto;

		&:hover {
			color: #fff;
		}

		&:visited {
			color: #818e98;
			font-weight: normal;
		}
	}

	&.visited {
		background: rgba(84, 133, 183, 0.2);

		&:hover {
			background: rgba(117, 204, 255, 0.2);
		}

		.title {
			font-weight: normal;
			color: #818e98;
		}
	}

	&.stickied,
	&.stickied.visited {
		background: #364a2e;
		margin-bottom: 16px;

		&:hover {
			background-color: #415a38;
		}

		a.title {
			color: #aedd08 !important;
		}	

		.tagline {
			color: #78960e;
		}
	}

	&.stickied.visited a.title {
		font-weight: normal;
	}

	&.stickied.even {
		margin-top: -14px;
	}

	&.last-clicked {
		border: none;
	}

	&.over18 {
		background-color: rgba(209,150,160,0.25);

		&:hover {
			background-color: rgba(209,150,160,0.35);
		}
	}
}

.link.promoted.new-ad-style-blue,
.link.promotedlink.promoted,
.link.promotedlink.external {
    background: rgba(239, 247, 255, 0.2);
    border: 1px solid rgba(239, 247, 255, 0.4);
}

// Things apply to both Links and Comments.
.thing {
	.score.likes {
		color: #a4d007
	}

	.score.dislikes {
		color: #bb5150
	}

	.entry {
		min-height: 80px;
		padding: 4px;
		margin: 0;
		padding-bottom: 0;
		overflow: visible;
		padding-left: 0;

		.buttons {
			li+li {
				padding: 0;
				padding-right: 4px;
			}

			li {
				a,
				span.redditSingleClick {
					margin: 0;
					border-radius: 2px;
					border: none;
					padding: 4px 17px;
					display: inline-block;
					cursor: pointer;
					text-transform: uppercase;
					color: #67c1f5;
					background: rgba(103, 193, 245, 0.1);
					height: 24px;
					font-weight: normal;

					&:hover {
						background: #67c1f5;
						color: #fff;
						text-decoration: none;
					}				
				}

				.redditSingleClick:after {
					color: #67c1f5;
					font-weight: normal;
				}

				.redditSingleClick:hover:after {
					color: #fff
				}

				&.report-button a {
					color: #ffa955;
					background: rgba(165, 91, 19, 0.2);

					&:hover {
						color: #fff;
						background: #ff8209;
					}
				}

				&.save-button a {
					background: rgba(176, 218, 29, 0.4);
					color: #9bd944;

					&:hover {
						background: #9bd944;
						color: #333;
					}
				}

				.del-button a,
				.remove-button a {
					color: #ff4141;
					background: rgba(204, 13, 13, 0.4);

					&:hover {
						color: #fff;
						background: rgba(204, 13, 13, 1);
					}
				}

				.marknsfw-button a {
					background: rgba(209, 150, 160, 0.4);
					color: #e8bcc4;

					&:hover {
						color: #fff;
						background: #d196a0;
					}
				}

				.approve-button a {
					color: #a4d007;
					background: rgba(76, 107, 34, 0.6);

					&:hover {
						color: #c8f333;
						background: #5c802d;
					}
				}
			}

			li.give-gold-button a {
				color: #caa02d;
				background: rgba(154, 125, 46, 0.2);

				&:hover {
					color: #fff;
					background: #9a7d2e;
				}
			}
		}
	}

	.tagline {
		color: #c6d4df;
		font-size: 13px;
		height: 24px;
		line-height: 20px;
		font-family: $special-font;

		a {
			color: $anchor-color;
			text-decoration: none;
			margin-right: 4px;

			&:hover {
				color: $anchor-hover-color;
			}
		}

		a[href$="/gilded"] {
			z-index: 0;
		}

		.edited-timestamp {
			font-style: italic;
		}
	}

	.expando-button ~ .tagline {
		position: relative;
		left: -32px;
	}

	.flat-list {
		padding: 0;
		margin: 0;
		min-height: 24px;
		line-height: 28px;
		margin-top: -2px;

		li {
			opacity: 0;

			// b handles the little notices
			b {
				line-height: 24px;
				font-weight: normal;
				font-size: 13px;
				color: #e1c48a;
				background: #827251;
				padding: 6px 8px;
				height: 24px;
				border-radius: 1px;
				text-transform: capitalize;
			}
		}

		li.reported-stamp.has-reasons {
			line-height: 16px;
			margin: 0;
			border-radius: 2px;
			border: none !important;
			padding: 4px 17px;
			display: inline-block;
			cursor: pointer;
			text-transform: uppercase;
			height: 24px;
			font-weight: normal;
			margin-right: 4px;
			color: #fff;
			background: #ff8209;
			opacity: 1;
		}

		.flairselector a.title {
			display: none;
		}

		li:first-child,
		li.first {
			opacity: 1;
		}

		.big-mod-buttons {
			height: 24px;
			margin-top: 1px;
			margin-right: 4px;

			.pretty-button {
				line-height: 16px;
				margin: 0;
				border-radius: 2px;
				border: none;
				padding: 4px 17px;
				display: inline-block;
				cursor: pointer;
				text-transform: uppercase;
				color: #fff;
				background-image: none;
				background-color: rgba(103,193,245,0.1);
				height: 24px;
				font-weight: normal;
				margin-right: 4px;

				&:hover {
					background: #67c1f5;
					color: #fff;
					text-decoration: none;
				}

				&.positive {
					color: #a4d007;
					background: rgba(76,107,34,0.6);

					&:hover {
						color: #b2dc1e;
						background: #4c6b22;
					}
				}

				&.negative {
					color: #ff4141;
					background: rgba(204,13,13,0.4);

					&:hover {
						color: #fff;
						background: #cc0d0d;
					}
				}

				&.pressed {
					background: #fff !important;
					color: #333 !important;
					font-weight: bold;
				}
			}

			.status-msg {
				line-height: 24px;
				font-weight: normal;
				font-size: 13px;
				color: #e1c48a;
				background: #827251;
				padding: 6px 8px;
				height: 24px;
				border-radius: 1px;
				text-transform: capitalize;
			}
		}
	}

	&:hover .flat-list li {
		opacity: 1;
	}

	.stamp {
		height: 24px;
		padding: 0 8px;
		line-height: 22px;	
		
		&.nsfw-stamp {
			background-color: rgba(209, 150, 160, 0.25);
			color: #d196a0;
			border: 1px solid #d196a0;
		}

		&.spoiler-stamp {
			background-color: rgba(255, 255, 255, 0.15);
			color: #fff;
			border: 1px solid #fff;			
		}
	}

	.usertext-body {
		padding: 8px;
		padding-top: 12px;
	}

	&.comment .usertext-body .md {
		padding-left: 32px;
		max-width: none;
	}

	&.gilded {
		box-shadow: inset 0 0 0 2px #fff088;
	}

	&.gilded > a.author {
		color: #fff088;

		&:hover {
			color: #fff;
		}
	}
}

.thumbnail {
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: auto !important;
	height: 80px !important;
	width: 80px !important;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin: 0;
	margin-right: 8px;
	background-image: url(%%sprite%%) !important;
	background-position: 0 -238px;

	img {
		max-height: 80px;
		height: auto !important;
		width: auto !important;
		min-height: 80px;		
	}

	&.self {
		background-position: 0 -158px;
	}

	&.nsfw {
		background-position: 0 -318px;
		box-shadow: inset 0 0 0 1px #d196a0;
		background-color: rgba(209, 150, 160, 0.25)	;
	}

	&.spoiler {
		background-position: 0 -398px;
		box-shadow: inset 0 0 0 1px #fff;
		background-color: rgba(255, 255, 255, 0.15);		
	}
}

body.comments-page {
	.thing.stickied,
	.thing.stickied.visited {
		background: rgba(84, 133, 183, 0.2) linear-gradient(to bottom, #364a2e 87px, transparent 87px);

		&:hover {
			background: rgba(84, 133, 183, 0.2) linear-gradient(to bottom, #364a2e 87px, transparent 87px);
		}
	}

	.thing {
		background-color: rgba(84, 133, 183, 0.2);

		&:hover {
			background-color: rgba(84, 133, 183, 0.2);
		}

		.flat-list {
			min-height: 24px;
			line-height: 30px;
			height: auto;
			margin-top: -3px;
			margin-bottom: 2px;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;

			li {
				opacity: 0;
				order: 2;
				margin-top: 4px;

				&.reply-button {
					opacity: 1;
					order: 1;

					a {
						background: rgba(103,193,245,0.4);

						&:hover {
							background: #67c1f5;
						}
					}
				}
			}
		}

		.entry:hover .flat-list li {
			opacity: 1;
		}

		&.link .entry .flat-list li.first {
			opacity: 1;
			order: 1;
		}	
	}

	.morerecursion,
	.morechildren {
		padding: 10px;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.4);
		background: rgba(0,0,0,0.4);
		margin-top: 18px;
		margin-bottom: 8px;

		&:hover {
			background: rgba(0,0,0,0.4);
		}

		.entry {
			padding: 0;
		}

		a {
			border: 1px solid rgba(255, 255, 255, 0.4) !important;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			padding: 2px 15px;
			font-size: 12px;
			border-radius: 2px;
			text-align: left;
			display: inline-block;

			&:hover {
				text-decoration: none;
				border: 1px solid #fff !important;
			}

			&:active {
				text-decoration: none;
				color: #e6e6e6;
				background: rgba(255,255,255,0.15);
			}
		}
	}

	.morechildren a {
		padding: 6px 15px;
	}

	.morechildren .tagline,
	.morechildren .flat-list {
		display: none !important;
	}

	.child {
		margin-bottom: -2px !important;
		margin-right: -6px !important;
	}

	.thing.comment.stickied,
	.thing.comment.stickied.visited {
		background: #364a2e !important;

		&:hover {
			background: #364a2e !important;
		}
	}
}

.thing.comment.spam {
	background: rgba(255, 11, 0, 0.4) !important;
}

.thing.stickied .parent,
.thing.stickied.visited .parent,
body.comments-page div.content .thing.stickied .parent, 
body.comments-page div.content .thing.stickied.visited .parent {
	content: "";
	width: 100%;
	height: 80px;
	margin-bottom: -80px;
	background-image: url(%%notification-icon-pinned%%);
	background-repeat: no-repeat;
	background-position: 99% center;
}

body.comments-page .comment {
	padding-left: 22px !important; // This needs higher specifity than RES for the !important to take effect. Such horseshit.
}

.comment {
	background-color: rgba(84, 133, 183, 0.2);
	border: none !important;
	position: relative;
	padding: 4px !important;
	padding-left: 22px !important;
	margin-left: 0;
	margin-bottom: 8px !important;
	border-radius: 3px;

	.tagline {
		margin-left: 40px;
		overflow: visible;

		.expand {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			padding: 2px;
			padding-top: 0;
			border-radius: 2px 0 0 2px;
			background: rgba(103, 193, 245, 0.1);
			width: 18px;
			text-align: center;
			font-size: 10px;	

			&:hover {
				background: #67c1f5;
			}		
		}
	}

	.comment,
	.res-commentBoxes .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	.comment .comment,
	.res-commentBoxes .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	.comment .comment .comment,
	.res-commentBoxes .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	.comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	.comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	.comment .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	.comment .comment .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}
	.comment .comment .comment .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment {
		background-color: #273b52 !important;
		border: 1px solid rgba(0,0,0,0.2)!important;
	}
	.comment .comment .comment .comment .comment .comment .comment .comment .comment,
	.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
		background-color: #324b68 !important;
		border: 1px solid rgba(0,0,0,0.4)!important;
	}

	&.collapsed {
		.tagline {
			margin-left: 0;

			a {
				color: $anchor-color;

				&:hover {
					color: $anchor-hover-color;
				}
			}
		}
	}

	.entry {
		min-height: 0;
	}

	.child {
		margin: 0;
		border: none;
	}

	.child:not(:empty) {
		margin-top: 8px;
		margin-right: -8px;
		margin-left: 8px;
		margin-bottom: -11px !important;
	}

	&.new-comment {
		box-shadow: inset 0 0 0 2px #67c1f5;

		.usertext-body {
			border: none;
			background: none;
		}
	}
}


.reddit-infobar.locked-infobar {
	border: none;
	background: url(%%locked-bg%%);
	min-height: 0;

	&.with-icon:before {
		background-color: transparent;
		background-image: url(%%locked%%);
	}

	.md {
		color: #8F98A0;
		font-size: 13px;
	}
}

#noresults {
	line-height: 55px;
}

.infobar:not(#searchexpando),
#noresults {
	margin: 16px 0;
	background-color: transparent;
	border-radius: 3px;
	color: #ffa500;
	min-height: 55px;
	padding-left: 40px;
	background: url(%%info%%);
	background-repeat: no-repeat;
	background-position: 12px center;
	background-color: rgba(27,27,27,0.36);
	border: 1px solid #ffa500;

	p {
		margin-top: 6px;

		a {
			border: 1px solid rgba(255, 255, 255, 0.4) !important;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			padding: 2px 15px;
			font-size: 12px;
			border-radius: 2px;
			text-align: left;
			display: inline-block;

			&:hover {
				text-decoration: none;
				border: 1px solid #fff !important;
			}

			&:active {
				text-decoration: none;
				color: #e6e6e6;
				background: rgba(255,255,255,0.15);
			}
		}
	}
}

body.comments-page .thing.locked {
	background: url(%%locked-bg%%);
}

body.listing-page .thing.locked {
	background: url(%%locked-bg%%);
	.parent {
		content: "";
		width: 100%;
		height: 80px;
		margin-bottom: -80px;
		background-image: url(%%locked%%);
		background-repeat: no-repeat;
		background-position: 99% center;
	}
}

body.comments-page .link.stickied, 
body.comments-page .link.stickied.visited {
	margin-top: 156px;
}

body.comments-page .link.stickied:before {
	background: #364a2e;
	display: block;
	margin-top: -65px;
	margin-bottom: 18px;
	content: "This topic has been pinned, so it's probably important";
	height: 47px;
	line-height: 47px;
	color: #AEDD08;
	font-size: 13px;
	padding-left: 40px;
	background-image: url(%%notification-icon-pinned%%);
	background-repeat: no-repeat;
	background-position: 12px center;
	margin-left: -4px;
	margin-right: -4px;
}

body.comments-page .menuarea ~ .sitetable {
	margin-top: 24px;
}

.commentarea {
	margin-top: 48px;

	.panestack-title,
	.menuarea,
	&>.usertext,
	.rounded.gold-accent.comment-visits-box {
		margin: 0;
		background-color: rgba(0,0,0,0.2);
		background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
		padding: 16px;
		border: none;
	}

	.panestack-title {
		@include sidebarh3(null,null);

		margin: 0;
		padding-bottom: 0;
		text-transform: capitalize;
		display: block;
	}

	.menuarea {
		color: #8f98a0;

		.spacer {
			height: 24px;
			display: inline-block;
			line-height: 24px;
			margin: 0;
			text-transform: capitalize;
			margin-bottom: 16px;

			form.toggle a {
				margin: 0;
				border-radius: 2px;
				border: none;
				padding: 4px 17px;
				display: inline-block;
				cursor: pointer;
				text-transform: uppercase;
				color: #67c1f5;
				background: rgba(103, 193, 245, 0.1);
				height: 24px;
				font-weight: normal;
				line-height: 17px;

				&:hover {
					background: #67c1f5;
					color: #fff;
					text-decoration: none;
				}		
			}


			.help-hoverable {
				display: none;
			}
		}
	}

	&>.usertext {
		color: #8f98a0;
	}

	.rounded.gold-accent.comment-visits-box {
		display: block;
		max-width: none;
		border-radius: 0;
		padding-top: 0;

		.title {
			font-weight: normal;
			border: 1px solid #a55b13;
			padding: 8px;
			border-radius: 3px;
			color: #ff8209;
		}
	}
}

.usertext .help-toggle,
.usertext a.reddiquette {
	display: inline-block;
	height: 29px;
	line-height: 29px;
	margin: 0;
	margin-right: 12px;
	text-transform: uppercase;
}

.usertext .markhelp {
	border: none;
	padding: 0;
	margin: 18px 0 0 0;
	color: #8f98a0;

	table {
		background: #fff;
	}
}


.link .usertext-body .md {
	background: transparent;
	border: 0;
	border-radius: 0;
}
.link .usertext .md {
	padding: 0;
}

.link .md,
.comment .md {
	font-size: 15px;
	font-family: $special-font;
}

.md {
	background: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: #dae3ea;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
		font-weight: normal;
		margin: 24px 0 12px 0;
	}

	h1 {
		font-size: 24px;
	}

	h3 {
		color: #529cde;
		border-bottom: 1px dotted #666666;
		font-size: 19px;
		margin-bottom: 5px;
	}

	p {
		margin: 0;
		margin-bottom: 16px;
	}

	blockquote {
		border: 1px solid #56707f;
		border-radius: 3px;
		padding: 12px;
		margin: 8px;
		font-size: 14px;
		color: #c6d4df;
		margin-top: 16px;
	}

	strong {
		color: #fff;
	}

	del {
		color: #8f98a0;
	}

	pre {
		background: none !important;
		border: 1px solid #fff;
		border-radius: 2px;
		font-size: 13px;
		color: #fff;
		margin: 16px 0;
		padding: 4px;
		
		code {
			margin: 0;
		}
	}

	code {
		background: transparent!important;
	}

	ul,
	ol {
		padding-left: 32px;
		margin: 16px 0;
		
		li {
			font-size: 15px;
			line-height: 1.8em;
		}
	}

	table {
		margin: 8px 0;
		font-size: 14px;
		color: #c6d4df;

		thead th {
			background: rgba(86, 112, 127, 0.3);
			color: #fff;
			font-size: 16px;
			font-weight: normal;
			padding: 6px 12px;
			border: 1px solid #56707f;

			&:hover {
				background: rgba(86, 112, 127, 0.5);
			}
		}

		td {
			padding: 6px 12px;
			font-size: 16px;
			border: 1px solid #56707f;

			&:hover {
				color: #fff;
				background: rgba(0, 0, 0, 0.15);
			}
		}
	}
}

.usertext.border .usertext-body {
	background: transparent;
	border-right: 3px solid #ffc;
}

.listing-page {
	.menuarea {
		color: #8f98a0;
		margin: 0;
		background-color: rgba(0,0,0,0.2);
		background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
		padding: 16px;
		border: none;

		.spacer {
			height: 24px;
			display: inline-block;
			line-height: 24px;
			margin: 0;
			text-transform: capitalize;

			.dropdown-title {
				@include sidebarh3(null, null);
			}

			.dropdown {
				background: rgba(103, 193, 245, 0.4);;
				border: 0;
				color: #67c1f5;
				outline: none;
				padding: 8px 15px;
				padding-right: 31px;
				line-height: 31px;
				font-size: 12px;
				top: -2px;
				background-image: url(%%dropdown-arrow%%);
				background-repeat: no-repeat;
				background-position: right 0;

				&:hover {
					color: #fff;
					background: url(%%dropdown-arrow%%), linear-gradient(-60deg, rgb(103, 193, 245) 0%, rgb(65, 122, 155) 100%);
					background-repeat: no-repeat;
					background-position: right 0, 0 0;

					.selected {
						color: #fff;
					}
				}

				.selected {
					font-weight: normal;
					color: #67c1f5;
					font-size: 12px;
					text-decoration: none;
					padding-right: 0;
					background: none;
				}
			}

			.drop-choices {
				box-shadow: 0 0 12px #000000;
				background: rgb(65, 122, 155);
				margin-top: 16px;
				min-width: 120px;
				border: 0;

				a {
					font-size: 13px;
					padding: 5px 12px;
					color: rgb(229, 228, 220);

					&:hover {
						color: #fff;
						text-decoration: none;
						background-color: #212d3d;
					}
				}
			}
		}
	}
}

.comment form.usertext .usertext-edit {
	margin-bottom: 16px;
}

.usertext-buttons button {
	margin-right: 8px;
}

.link .domain {
	color: transparent;

	a {
		color: rgba(255,255,255,0.3);
		font-weight: normal;
		margin-top: -4px;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

.usertext.grayed .usertext-body {
	background: transparent !important;
}