.thing .midcol,
.midcol-spacer {
	margin: 0 4px 0 0;
	overflow: visible;
	text-align: left;
	width: 32px !important;
}

// Vote Arrows
.arrow {
	background: rgba(0, 0, 0, 0.4) !important;
	background-position: 0 0;
	border-radius: 3px;
	height: 32px;
	position: relative;
	width: 32px;

	&:before {
		background: url($spritesheet) 0 -94px;
		content: "";
		height: 32px;
		pointer-events: none;
		position: absolute;
		width: 32px;
	}

	&:hover {
		background-color: rgba(102, 192, 244, 0.4) !important;
	}

	&.up,
	&.upmod,
	&.down,
	&.downmod {
		margin: 0;
	}

	&.up {
		&:hover:not(:active):before {
			background-position: -32px -94px
		}

		&:active:before {
			background-position: -32px -94px;
		}
	}

	&.down {
		&:before {
			background-position: 0 -126px;
		}

		&:hover:not(:active):before {
			background-position: -32px -126px;
		}

		&:active:before {
			background-position: -32px -126px;
		}
	}

	&.upmod {
		background-color: #4c6b22 !important;

		&:before {
			background-position: -64px -94px;
		}

		&:hover:before {
			background-position: -64px -94px;
		}

		&:active:before {
			background-position: -64px -94px;
		}
	}

	&.downmod {
		background-color: #4f3129 !important;

		&:before {
			background-position: -64px -126px;
		}

		&:hover:before {
			background-position: -64px -126px;
		}

		&:active:before {
			background-position: -64px -126px;
		}
	}
}

// Disable the downvote button for non-subscribers.
body:not(.subscriber) .arrow.down {
	visibility: hidden;
}

.comment .arrow {
	margin-bottom: 4px;
}

.thing .title {
	color: #fff;
	font: 500 18px "Segoe UI",Segoe,Roboto,"Helvetica Neue",Helvetica,"Calibri Light",Calibri,sans-serif;
}

.link {
	background: rgba(84, 133, 183, 0.4);
	border-radius: 3px;
	margin: 0 0 2px 0;
	padding: 4px;

	&:hover {
		background: rgba(117,204,255,0.37);
	}

	.newComments {
		color: #fff;
		font-weight: bold;
	}

	.score {
		color: rgba(255, 255, 255, 0.7);
		font-size: 11px;
		line-height: 16px;
		margin: 0 -100%;
		text-align: center;
	}

	.title {
		color: #fff;
		font: 500 18px $special-font;
		height: auto;
		margin: 0;
		min-height: 24px;
		padding: 0;

		&:hover {
			color: #fff;
		}

		&:visited {
			color: #818e98;
			font-weight: normal;
		}
	}

	&.visited {
		background: rgba(84, 133, 183, 0.2);

		&:hover {
			background: rgba(117, 204, 255, 0.2);
		}

		.title {
			font-weight: normal;
			color: #818e98;
		}
	}

	&.stickied,
	&.stickied.visited {
		background: #364a2e;

		&:hover {
			background-color: #415a38;
		}

		a.title {
			color: #aedd08 !important;
		}

		.tagline {
			color: #78960e;
		}
	}

	&.stickied.visited a.title {
		font-weight: normal;
	}

	&.last-clicked {
		border: none;
	}

	&.over18 {
		background-color: rgba(209,150,160,0.25);

		&:hover {
			background-color: rgba(209,150,160,0.35);
		}
	}

	.author {
		font-weight: 500;
	}
}

.hot-page {
	.link.stickied,
	.link.stickied.visited {
		margin-bottom: 16px;
	}
	.link.stickied.even {
		margin-top: -14px;
	}
}

.link.promoted.new-ad-style-blue,
.link.promotedlink.promoted,
.link.promotedlink.external {
	background: rgba(239, 247, 255, 0.2);
	border: 0;
}

.organic-listing {
	border: 0;
	background: none !important;

	.help {
		color: $anchor-color;
	}
}

.sponsored-tagline {
	color: #fff;
	text-transform: capitalize;
	font-weight: normal;
	font-style: italic;
}

// Things apply to both Links and Comments.
.thing {
	.score.likes {
		color: #a4d007
	}

	.score.dislikes {
		color: #bb5150
	}

	.entry {
		margin: 0;
		min-height: 80px;
		overflow: visible;
		padding: 4px 4px 0 0;

		.buttons {
			li+li {
				padding: 0 4px 0 0;
			}

			li {
				a,
				span.redditSingleClick {
					//background: rgba(103, 193, 245, 0.1);
					border-radius: 2px;
					border: none;
					color: #67c1f5;
					cursor: pointer;
					display: inline-block;
					font-weight: normal;
					height: 24px;
					margin: 0;
					padding: 4px 17px;
					text-transform: uppercase;

					&:hover {
						background: #67c1f5;
						color: #fff;
						text-decoration: none;
					}
				}

				.redditSingleClick:after {
					color: #67c1f5;
					font-weight: normal;
				}

				.redditSingleClick:hover:after {
					color: #fff
				}

				&.report-button a {
					//background: rgba(165, 91, 19, 0.2);
					color: #ffa955;

					&:hover {
						color: #fff;
						background: #ff8209;
					}
				}

				&.save-button a {
					//background: rgba(176, 218, 29, 0.4);
					color: #9bd944;

					&:hover {
						background: #9bd944;
						color: #333;
					}
				}

				.del-button a,
				.remove-button a {
					//background: rgba(204, 13, 13, 0.4);
					color: #ff4141;

					&:hover {
						background: rgba(204, 13, 13, 1);
						color: #fff;
					}
				}

				.marknsfw-button a {
					//background: rgba(209, 150, 160, 0.4);
					color: #e8bcc4;

					&:hover {
						color: #fff;
						background: #d196a0;
					}
				}

				.approve-button a {
					//background: rgba(76, 107, 34, 0.6);
					color: #a4d007;

					&:hover {
						color: #c8f333;
						background: #5c802d;
					}
				}
			}

			li.give-gold-button a {
				//background: rgba(154, 125, 46, 0.2);
				color: #caa02d;

				&:hover {
					background: #9a7d2e;
					color: #fff;
				}
			}

			li.first a {
				background: rgba(103,193,245,0.4);
			}
		}
	}

	.expando-button ~ .tagline {
		position: relative;
		left: -32px;
		margin-left: 150px;
	}

	.flat-list {
		line-height: 28px;
		margin: -2px 0 0 0;
		min-height: 24px;
		padding: 0;

		li {
			opacity: 0.4;

			// b handles the little notices
			b {
				background: #827251;
				border-radius: 1px;
				color: #e1c48a;
				font-size: 13px;
				font-weight: normal;
				height: 24px;
				line-height: 24px;
				padding: 6px 8px;
				text-transform: capitalize;
			}
		}

		li.reported-stamp.has-reasons {
			background: #ff8209;
			border-radius: 2px;
			border: none !important;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-weight: normal;
			height: 24px;
			line-height: 16px;
			margin: 0 4px 0 0;
			opacity: 1;
			padding: 4px 17px;
			text-transform: uppercase;
		}

		.flairselector a.title {
			display: none;
		}

		li:first-child,
		li.first {
			opacity: 1;
		}

		.big-mod-buttons {
			height: 24px;
			margin: 1px 4px 0 0;

			.status-msg {
				background: #827251;
				border-radius: 1px;
				color: #e1c48a;
				font: normal 13px/24px inherit;
				height: 24px;
				padding: 6px 8px;
				text-transform: capitalize;
			}
		}

		.pretty-button {
			background-color: rgba(103,193,245,0.1);
			background-image: none;
			border-radius: 2px;
			border: none;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-weight: normal;
			height: 24px;
			line-height: 16px;
			margin: 0 4px 0 0;
			padding: 4px 17px;
			text-transform: uppercase;

			&:hover {
				background: #67c1f5;
				color: #fff;
				text-decoration: none;
			}

			&.positive {
				background: rgba(76,107,34,0.6);
				color: #a4d007;

				&:hover {
					background: #4c6b22;
					color: #b2dc1e;
				}
			}

			&.negative {
				background: rgba(204,13,13,0.4);
				color: #ff4141;

				&:hover {
					background: #cc0d0d;
					color: #fff;
				}
			}

			&.neutral {
				background: rgba(103,193,245,0.1);
				color: #fff;

				&:hover {
					background: #67c1f5;
					color: #fff;
				}
			}

			&.pressed {
				background: #fff !important;
				color: #333 !important;
				font-weight: bold;
			}
		}
	}

	&:hover .flat-list li {
		opacity: 1;
	}

	.stamp {
		height: 24px;
		line-height: 22px;
		padding: 0 8px;

		&.nsfw-stamp {
			background-color: rgba(209, 150, 160, 0.25);
			border: 1px solid #d196a0;
			color: #d196a0;
		}

		&.spoiler-stamp {
			background-color: rgba(255, 255, 255, 0.15);
			border: 1px solid #fff;
			color: #fff;
		}
	}

	.usertext-body {
		padding: 12px 8px 8px 8px;
	}

	&.comment .usertext-body .md {
		max-width: none;
		padding-left: 32px;
	}

	&.gilded {
		box-shadow: inset 0 0 0 2px #fff088;
	}

	&.gilded > a.author {
		color: #fff088;

		&:hover {
			color: #fff;
		}
	}

	&.deleted {
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}
}

.thumbnail {
	align-items: center;
	background: rgba(0, 0, 0, 0.1) url($spritesheet) 0 -238px/auto;
	background-image: url($spritesheet) !important;
	border-radius: 2px;
	display: flex;
	height: 80px !important;
	justify-content: center;
	margin: 0 8px 0 0;
	width: 80px !important;
	background-size: initial !important;

	img {
		height: auto !important;
		max-height: 80px;
		min-height: 80px;
		width: auto !important;
	}

	&.self {
		background-position: 0 -158px;
	}

	&.default {
		background-position: 0 -238px;
	}

	&.nsfw {
		background-color: rgba(209, 150, 160, 0.25);
		background-position: 0 -318px;
		box-shadow: inset 0 0 0 1px #d196a0;
	}

	&.spoiler {
		background-color: rgba(255, 255, 255, 0.15);
		background-position: 0 -398px;
		box-shadow: inset 0 0 0 1px #fff;
	}
}

.linkflair-question .thumbnail.self {
	background-position: 0 -478px;
}

.linkflair-error .thumbnail.self {
	background-position: 0 -558px;
}

.linkflair-news .thumbnail.self {
	background-position: 0 -638px;
}

.linkflair-support-thread .thumbnail.self {
	background-position: 0 -798px;
	background-color: #4a8db4;
}

.linkflair-games-suggestion .thumbnail.self {
	background-position: 0 -878px;
}

.linkflair-client-update,
.linkflair-client-update:hover {
	background-image: url(%%client-update%%);
	background-repeat: no-repeat;
	background-position: 98% center;

	.thumbnail.self {
		background-color: #222325;
		background-position: 0 -718px;
	}

	.linkflairlabel {
		display: none;
	}
}

.linkflair-down-notice {
	background-color: #ffa500 !important;

	.midcol {
		visibility: hidden;
	}

	.thumbnail.self {
		background-position: 0 -958px;
		background-color: #ffa500;
	}

	a.title,
	.tagline {
		color: #2d2b2b !important
	}

	.flat-list,
	.expando-button {
		visibility: hidden;
	}
}

.link.stickied.linkflair-down-notice a.title {
	color: #2d2b2b !important;
}

body.comments-page {
	.thing.stickied,
	.thing.stickied.visited {
		background: rgba(84, 133, 183, 0.2) linear-gradient(to bottom, #364a2e 87px, transparent 87px);

		&:hover {
			background: rgba(84, 133, 183, 0.2) linear-gradient(to bottom, #364a2e 87px, transparent 87px);
		}
	}

	.thing {
		background-color: rgba(84, 133, 183, 0.2);

		&:hover {
			background-color: rgba(84, 133, 183, 0.2);
		}

		.flat-list {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			height: auto;
			line-height: 30px;
			margin: -3px 0 2px 0;
			min-height: 24px;

			li {
				margin-top: 4px;
				opacity: 0.4;
				order: 2;

				&.reply-button {
					opacity: 1;
					order: 1;

					a {
						background: rgba(103,193,245,0.4);

						&:hover {
							background: #67c1f5;
						}
					}
				}
			}
		}

		.entry:hover .flat-list li {
			opacity: 1;
		}

		&.link .entry .flat-list li.first {
			opacity: 1;
			order: 1;
		}
	}

	.morerecursion,
	.morechildren {
		background: rgba(0,0,0,0.4);
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.4);
		margin: 18px 0 8px 0;
		padding: 10px;

		&:hover {
			background: rgba(0,0,0,0.4);
		}

		.entry {
			padding: 0;
		}

		a {
			border-radius: 2px;
			border: 1px solid rgba(255, 255, 255, 0.4) !important;
			color: #fff;
			display: inline-block;
			font-size: 12px;
			padding: 2px 15px;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				text-decoration: none;
				border: 1px solid #fff !important;
			}

			&:active {
				background: rgba(255,255,255,0.15);
				color: #e6e6e6;
				text-decoration: none;
			}
		}
	}

	.morechildren a {
		padding: 6px 15px;
	}

	.morechildren .tagline,
	.morechildren .flat-list {
		display: none !important;
	}

	.child {
		margin-bottom: -2px !important;
		margin-right: -6px !important;
	}

	.thing.comment.stickied,
	.thing.comment.stickied.visited {
		background: #364a2e !important;

		&:hover {
			background: #364a2e !important;
		}
	}
}

.thing.stickied .parent,
.thing.stickied.visited .parent,
body.comments-page div.content .thing.stickied .parent,
body.comments-page div.content .thing.stickied.visited .parent {
	background: url(%%notification-icon-pinned%%) no-repeat 99% center;
	content: "";
	height: 80px;
	margin-bottom: -80px;
	width: 100%;
}

body.comments-page .comment {
	padding-left: 22px !important; // This needs higher specifity than RES for the !important to take effect. Such horseshit.
}

.comment {
	background: rgba(84, 133, 183, 0.2);
	border-radius: 3px;
	border: none !important;
	margin-bottom: 8px !important;
	margin-left: 0;
	padding: 4px 4px 4px 22px !important;
	position: relative;

	.tagline {
		margin-left: 40px;
		overflow: visible;

		time {
			margin-left: 6px;
		}

		.expand {
			border-radius: 2px 0 0 2px;
			bottom: 0;
			font-size: 10px;
			left: 0;
			padding: 0 2px 2px 2px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 18px;

			&:hover {
				background: #67c1f5;
				text-decoration: none;
			}
		}

		.author {
			font-size: 16px;
			font-weight: 500;
		}
	}

	.showreplies {
		border-radius: 2px;
		border: 1px solid rgba(255, 255, 255, 0.4) !important;
		color: #fff;
		display: inline-block;
		font-size: 12px;
		padding: 2px 15px;
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: 0;
		margin-top: 12px;
		margin-bottom: 8px;

		&:hover {
			text-decoration: none;
			border: 1px solid #fff !important;
		}

		&:active {
			background: rgba(255,255,255,0.15);
			color: #e6e6e6;
			text-decoration: none;
		}
	}

	&.collapsed {
		.tagline {
			margin-left: 0;

			a {
				color: $anchor-color;

				&:hover {
					color: $anchor-hover-color;
				}
			}
		}
	}

	.entry {
		min-height: 0;
	}

	.child {
		border: none;
		margin: 0;
	}

	.child:not(:empty) {
		margin: 8px -8px 0 8px;
		margin-bottom: -11px !important;
	}

	&.new-comment {
		box-shadow: inset 0 0 0 2px #67c1f5;

		.usertext-body {
			border: none;
			background: none;
		}
	}
}

.comment,
.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment,
.res .res-commentBoxes .content .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	 background-color: #324b68 !important;
	 border: 1px solid rgba(0,0,0,0.4)!important;
}

.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #273b52 !important;
	border: 1px solid rgba(0,0,0,0.2)!important;
}


.reddit-infobar .md {
	color: #fff;
}

.reddit-infobar.locked-infobar {
	background: url(%%locked-bg%%);
	border: none;
	min-height: 0;

	&.with-icon:before {
		background-color: transparent;
		background-image: url(%%locked%%);
	}

	.md {
		color: #8F98A0;
		font-size: 13px;
	}
}

#noresults {
	line-height: 55px;
}

.infobar:not(#searchexpando),
#noresults,
.reddit-infobar,
.reddit-infobar .gold-accent {
	background: rgba(27,27,27,0.36) url(%%info%%) no-repeat 12px center;
	border-radius: 3px;
	border: 1px solid #ffa500;
	color: #ffa500;
	margin: 16px 0;
	min-height: 55px;
	padding-left: 40px;

	p {
		margin-top: 6px;

		a {
			border-radius: 2px;
			border: 1px solid rgba(255, 255, 255, 0.4) !important;
			color: #fff;
			display: inline-block;
			font-size: 12px;
			padding: 2px 15px;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				text-decoration: none;
				border: 1px solid #fff !important;
			}

			&:active {
				background: rgba(255,255,255,0.15);
				color: #e6e6e6;
				text-decoration: none;
			}
		}
	}
}

.infobar.newsletterbar {
	border: 1px solid #5584b1!important;
}

.reddit-infobar.gold-accent {
	display: block;
	border: 1px solid #fff088;

	.md {
		display: block;
		height: 43px;
		color: #fff088;

		p {
			margin: 0;
			line-height: 54px;
			height: 53px;
		}
	}
}

body.comments-page .thing.locked {
	background: url(%%locked-bg%%);
}

body.listing-page .thing.locked {
	background: url(%%locked-bg%%);

	.parent {
		background: url(%%locked%%) no-repeat 99% center;
		content: "";
		height: 80px;
		margin-bottom: -80px;
		width: 100%;
	}
}

body.comments-page .link.stickied,
body.comments-page .link.stickied.visited {
	@if $banner-height != null {
		margin-top: $banner-height + (20px * 2) + 57px;
	} @else {
		margin-top: 20px + 57px;
	}
}

body.comments-page .link.stickied:before {
	background: #364a2e url(%%notification-icon-pinned%%) no-repeat 12px center;
	color: #AEDD08;
	content: "This topic has been pinned, so it's probably important";
	display: block;
	font-size: 13px;
	height: 47px;
	line-height: 47px;
	margin: -65px -4px 18px -4px;
	padding-left: 40px;
}

body.comments-page .menuarea ~ .sitetable {
	margin-top: 24px;
}

.commentarea {
	margin-top: 48px;

	.panestack-title,
	.menuarea,
	&>.usertext,
	.rounded.gold-accent.comment-visits-box {
		background: rgba(0,0,0,0.2) linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0;
		border: none;
		margin: 0;
		padding: 16px;
	}

	.panestack-title {
		@include sidebarh3(null,null);

		display: block;
		margin: 0;
		padding-bottom: 0;
		text-transform: capitalize;
	}

	.menuarea {
		color: #8f98a0;

		.spacer {
			display: inline-block;
			height: 24px;
			line-height: 24px;
			margin-bottom: 16px;
			margin: 0;
			text-transform: capitalize;

			form.toggle a {
				background: rgba(103, 193, 245, 0.1);
				border-radius: 2px;
				border: none;
				color: #67c1f5;
				cursor: pointer;
				display: inline-block;
				font-weight: normal;
				height: 24px;
				line-height: 17px;
				margin: 0;
				padding: 4px 17px;
				text-transform: uppercase;

				&:hover {
					background: #67c1f5;
					color: #fff;
					text-decoration: none;
				}
			}


			.help-hoverable {
				display: none;
			}
		}
	}

	&>.usertext {
		color: #8f98a0;
	}

	.rounded.gold-accent.comment-visits-box {
		border-radius: 0;
		display: block;
		max-width: none;
		padding-top: 0;

		.title {
			border-radius: 3px;
			border: 1px solid #a55b13;
			color: #ff8209;
			font-weight: normal;
			padding: 8px;
		}
	}
}

.usertext .help-toggle,
.usertext a.reddiquette {
	display: inline-block;
	height: 29px;
	line-height: 29px;
	margin: 0 12px 0 0;
	text-transform: uppercase;
}

.usertext .markhelp {
	border: none;
	color: #8f98a0;
	margin: 18px 0 0 0;
	padding: 0;

	table {
		background: none;
		background: rgba(255,255,255,0.1);
		color: #C6D4DF;

		tr {
			border: 1px solid rgba(255,255,255,0.2);
		}

		tr:first-child {
			background: rgba(255,255,255,0.1) !important;
			font-size: 16px;
			text-transform: capitalize;
		}

		td {
			border: 1px solid rgba(255,255,255,0.2);
		}
	}
}


.link .usertext-body .md {
	background: transparent;
	border: 0;
	border-radius: 0;
}
.link .usertext .md {
	padding: 0;
}

.link .md,
.comment .md {
	font-size: 15px;
	font-family: $special-font;
}

.md {
	background: transparent;
	border-radius: 0;
	border: 0;
	color: #dae3ea;
	margin: 0;
	padding: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
		font-weight: normal;
		margin: 24px 0 12px 0;
	}

	h1 {
		font-size: 24px;
	}

	h3 {
		border-bottom: 1px dotted #666666;
		color: #529cde;
		font-size: 19px;
		margin-bottom: 5px;
	}

	h5 {
		font-size: 1.2em;
	}

	p {
		margin: 0 0 16px 0;
	}

	blockquote {
		border-radius: 3px;
		border: 1px solid #56707f;
		color: #c6d4df;
		font-size: 14px;
		margin: 16px 8px 8px 8px;
		padding: 12px;
	}

	strong {
		color: #fff;
	}

	del {
		color: #8f98a0;
	}

	pre {
		background: none !important;
		border-radius: 2px;
		border: 1px solid #fff;
		color: #fff;
		font-size: 13px;
		margin: 16px 0;
		padding: 4px;

		code {
			margin: 0;
		}
	}

	code {
		background: transparent!important;
	}

	ul,
	ol {
		padding-left: 32px;
		margin: 16px 0;

		li {
			font-size: 15px;
			line-height: 1.8em;
		}
	}

	table {
		margin: 8px 0;
		font-size: 14px;
		color: #c6d4df;

		thead th {
			background: rgba(86, 112, 127, 0.3);
			border: 1px solid #56707f;
			color: #fff;
			font: normal 16px inherit;
			padding: 6px 12px;

			&:hover {
				background: rgba(86, 112, 127, 0.5);
			}
		}

		td {
			padding: 6px 12px;
			font-size: 16px;
			border: 1px solid #56707f;

			&:hover {
				color: #fff;
				background: rgba(0, 0, 0, 0.15);
			}
		}
	}
}

.usertext.border .usertext-body {
	background: transparent;
	border-right: 3px solid #ffc;
}

.listing-page {
	.menuarea {
		background: rgba(0,0,0,0.2) linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%) repeat scroll 0 0 transparent;
		border: none;
		color: #8f98a0;
		margin: 0;
		padding: 16px;

		.spacer {
			display: inline-block;
			height: 24px;
			line-height: 24px;
			margin: 0;
			text-transform: capitalize;

			.dropdown-title {
				@include sidebarh3(null, null);
			}
		}
	}
}

.comment form.usertext .usertext-edit {
	margin-bottom: 16px;
}

.usertext-buttons button {
	margin-right: 8px;
}

.link .domain {
	color: transparent;

	a {
		color: rgba(255,255,255,0.3);
		font-weight: normal;
		margin-top: -4px;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

.usertext.grayed .usertext-body {
	background: transparent !important;
}

.tagline {
	color: #9fadb7;
	font: 13px/20px $special-font;
	height: 24px;

	a {
		color: $anchor-color;
		margin-right: 4px;
		text-decoration: none;

		&:hover {
			color: $anchor-hover-color;
		}
	}

	a[href$="/gilded"] {
		z-index: 0;
	}

	.edited-timestamp {
		font-style: italic;
	}
}

.panestack-title a.title-button.gold {
	background-color: rgba(255, 240, 136, 0.4);
	color: #fff088;
	padding: 4px 8px;
	border: none;

	&:hover {
		background-color: #fff088;
		color: #6a4d00;
	}
}
