body.mod-toolbox {
	.thing .tagline .flair-small ~ .tb-bracket-button {
	    margin-left: $flair-small-width + 4px ;
	}

	.thing .tagline .flair-year ~ .tb-bracket-button {
	    margin-left: $flair-small-width + 4px ;
	}

	.thing .tagline .flair-game ~ .tb-bracket-button {
	    margin-left: $flair-small-width + 4px ;
	}

	.thing .tagline .flair-special ~ .tb-bracket-button {
	    margin-left: $flair-special-width + 4px ;
	}

	.thing .tagline .flair-level ~ .tb-bracket-button {
	    margin-left: $flair-small-width + 4px ;
	}

	.tb-general-button,
	li a.tb-general-button,
	.tb-bracket-button {
		background: none;
		color: #fff;
		padding: 2px;
	}
}
