.side .titlebox {
	a[href$="/r/steam/about/rules"] {
		background: #d1dae1 url(%%info-banner%%) no-repeat -1px -1px;
		border: 1px solid transparent;
		box-shadow: 0 0 4px #000;
		display: block;
		height: $banner-height;
		left: 0;
		margin: 0 352px 0 16px;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: $header-height + 20px;
		color: transparent;

		&:before {
			color: #525557;
			content: "/r/steam Rules have been updated. Please read.";
			display: inline-block;
			font-family: "Segoe UI", Segoe, Roboto, "Helvetica Neue", Helvetica, Calibri, sans-serif;
			font-size: 17px;
			font-weight: bold;
			height: $banner-height;
			left: 8px;
			letter-spacing: 2px;
			line-height: $banner-height - 1px;
			padding-left: 86px;
			text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
			text-transform: uppercase;
		}

		&:hover {
			box-shadow: 0 0 4px #fff;
			border-color: #fff;
		}
	}
}
